- trackable = log_entry.trackable
- comment = log_entry.comment
.entry_type
  Recouped
  .time_ago
    = time_ago_in_words(log_entry.created_at) + ' ago'
.entry_pertains_to= device_link(trackable.device)
- if comment.present? and not comment.blank?
  with comment
  %span.comment
    = surround '"', '"' do
      = comment