- sprint_sale_policy = SprintSalePolicy.new(@current_person, SprintSale.new, @permission_keys)
- if sprint_sale_policy.scoreboard?
  %li.has-dropdown
    %a{ href: '#' } Sprint
    %ul.dropdown
      - if sprint_sale_policy.scoreboard?
        %li= link_to 'Sales Scoreboard', scoreboard_sprint_sales_path