---
http_interactions:
- request:
    method: post
    uri: https://api.groupme.com/v3/bots?token=1956b1d08a050132df253a66af516754
    body:
      encoding: UTF-8
      string: '{"bot":{"name":"Test User via SalesCenter 2.0","group_id":8936279,"callback_url":null,"avatar_url":"https://i.groupme.com/1127x1127.png.51d265a13ce44925aaa15a4e6a2b7b0e"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"dcefb494e07736247ef20f5686ce3cbe"'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"meta":{"code":201},"response":{"bot":{"name":"Test User via SalesCenter
        2.0","bot_id":"73e3d0f32b1c4f85fed0cb84ef","group_id":"8936279","group_name":"RBD
        Test Playground!","avatar_url":"https://i.groupme.com/1127x1127.png.51d265a13ce44925aaa15a4e6a2b7b0e","callback_url":null}}}'
  recorded_at: Tue, 17 Mar 2015 18:51:33 GMT
- request:
    method: post
    uri: https://api.groupme.com/v3/bots/post
    body:
      encoding: UTF-8
      string: '{"bot_id":"73e3d0f32b1c4f85fed0cb84ef","text":"This is a test GroupMe
        message from a bot."}'
    headers: {}
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 202 Accepted
    body:
      encoding: UTF-8
      string: " "
  recorded_at: Tue, 17 Mar 2015 18:51:33 GMT
- request:
    method: post
    uri: https://api.groupme.com/v3/bots/destroy?token=1956b1d08a050132df253a66af516754
    body:
      encoding: UTF-8
      string: '{"bot_id":"73e3d0f32b1c4f85fed0cb84ef"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: " "
  recorded_at: Tue, 17 Mar 2015 18:51:33 GMT
[...]
- request:
    method: post
    uri: https://api.groupme.com/v3/bots/destroy?token=1956b1d08a050132df253a66af516754
    body:
      encoding: UTF-8
      string: '{"bot_id":"25f4c96c1e7bb034602cfd9e54"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: " "
  recorded_at: Tue, 17 Mar 2015 18:51:34 GMT
recorded_with: VCR 2.9.3
