= form_for @profile, url: person_profile_path(current_user) do |f|
  = render 'shared/errors', object: f.object
  = f.collection_select :theme_name, @themes, :name, :display_name, include_blank: 'Default'
  = f.submit 'Save', class: [:button, :radius]