- title('My Profile')

.widgets.row.full-width
  .row.full-width
    .widget.large-4.columns
      .inner
        %h3 Lisa Wuong
        .centered_text
          = image_tag 'avatars/4.jpg', class: :avatar
          %br
          %em Tampa Territory
          %br
          %em Vonage Retail Project
          %br
          %br
          %a 35 followers
          &vert; 1,990 views
          %br
          %br
          %a Connect with Lisa on LinkedIn!
          %br
          %a Connect with Lisa on Google+!
          %br
          %a Connect with Lisa on Facebook
    .widget.large-4.columns
      .inner
        %h3 Basic Information
        .comment.bottom_spacing
          %strong Started with RBD on
          = (Date.today - 73.days).strftime '%m/%d/%Y'
          %br
          %br
          %p
            %strong Supervisor:
            Test
        %p
          %strong Email:
          blah@rbd-von.com
          %p
            %strong Personal Email:
            blah@gmail.com
          %p
            %strong Mobile Phone:
            555-555-5555
        %p
          %strong Address:
          %br/
          123 Wallaby Way
          %br/
          St Pete, FL 33701

