- headers = ['F/U By', 'Rep', 'Customer Name', 'Saved', 'Mobile Phone', 'Has Comments?']
= CSV.generate_line(headers).html_safe
- @results.each do |lead|
  = CSV.generate_line([ |
    lead.follow_up_by ? short_date(lead.follow_up_by) : 'N/A', |
    lead.directv_customer.person.display_name, |
    lead.directv_customer.name, |
    friendly_datetime(lead.created_at), |
    lead.directv_customer.mobile_phone, |
    lead.comments.present? ? "Yes" : "No" |
  ]).html_safe |