---
http_interactions:
- request:
    method: post
    uri: https://www.docusign.net/restapi/v2/accounts/6307293/envelopes
    body:
      encoding: UTF-8
      string: '{"status":"created","emailBlurb":null,"emailSubject":"Sprint Postpaid
        - NOTICE OF SEPARATION FOR: Test User","templateId":"CD15C02E-B073-44D9-A60A-6514C24949CB","eventNotification":{},"templateRoles":[{"name":"Manager","email":"tuser23@rbd-von.com","roleName":"Manager","tabs":{"textTabs":[{"tabLabel":"Employee
        Name","name":"Employee Name","value":"Test User","documentId":null,"selected":null},{"tabLabel":"Last
        Day Worked","name":"Last Day Worked","value":"04-21-15","documentId":null,"selected":null},{"tabLabel":"Termination
        Date","name":"Termination Date","value":"04-22-15","documentId":null,"selected":null},{"tabLabel":"Remarks","name":"Remarks","value":"Test
        remarks","documentId":null,"selected":null},{"tabLabel":"Location","name":"Location","value":false,"documentId":null,"selected":null},{"tabLabel":"Eligible
        for Rehire","name":"Eligible for Rehire","value":null,"documentId":null,"selected":null},{"tabLabel":"Separation
        Reason","name":"Separation Reason","value":"Test Reason","documentId":null,"selected":null}],"checkboxTabs":[]}}]}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"it@retaildoneright.com","Password":"IT@Supp0rt","IntegratorKey":"RETA-116c6b7d-09cf-4c4e-876c-65cbf19aaacc"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1429711200'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '995'
    body:
      encoding: UTF-8
      string: "{\r\n  \"envelopeId\": \"b88a31d7-62cd-4f23-b0d9-d77dfef5891f\",\r\n
        \ \"uri\": \"/envelopes/b88a31d7-62cd-4f23-b0d9-d77dfef5891f\",\r\n  \"statusDateTime\":
        \"2015-04-22T13:07:30.9030000Z\",\r\n  \"status\": \"created\"\r\n}"
  recorded_at: Wed, 22 Apr 2015 13:07:31 GMT
- request:
    method: put
    uri: https://www.docusign.net/restapi/v2/accounts/6307293/envelopes/b88a31d7-62cd-4f23-b0d9-d77dfef5891f
    body:
      encoding: UTF-8
      string: '{"status":"sent"}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"it@retaildoneright.com","Password":"IT@Supp0rt","IntegratorKey":"RETA-116c6b7d-09cf-4c4e-876c-65cbf19aaacc"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 22 Apr 2015 13:07:33 GMT
recorded_with: VCR 2.9.3
