- content_for :title, 'New Device Manufacturer'

.widget
  .inner
    = form_for @device_manufacturer, method: :post do |f|
      = f.label :name, as: 'Manufacturer Name'
      = f.text_field :name
      = f.submit 'Submit', class: 'button'