- header = header_row ['F/U By', 'Rep', 'Name', 'Saved', 'Phone', 'Converted?', 'Services', 'F/U Completed']

- rows = Array.new
- for lead in leads do
  - classes = lead.active? ? nil : [:inactive]
  - follow_up_by = short_date(lead.follow_up_by)
  - rep = person_link(lead.comcast_customer.person)
  - name = comcast_customer_link lead.comcast_customer, classes
  - saved = friendly_datetime(lead.created_at)
  - mobile_phone = phone_link(lead.mobile_phone, classes)
  - other_phone = phone_link(lead.other_phone, classes)
  - phone = ''.html_safe
  - phone += 'm '.html_safe + mobile_phone if mobile_phone
  - phone += "<br>".html_safe if mobile_phone and other_phone
  - phone += 'o '.html_safe + other_phone if other_phone
  - converted = lead.converted_to_sale ? 'Yes' : 'No'
  - services = ''.html_safe
  - services += icon('monitor', false, :service_icon) + ' ' if lead.tv?
  - services += icon('web', false, :service_icon) + ' ' if lead.internet?
  - services += icon('telephone', false, :service_icon) + ' ' if lead.phone?
  - services += icon('lock', false, :service_icon) + ' ' if lead.security?
  - follow_up_completed = lead.comments.present? ? 'Yes' : 'No'
  - rows << table_row([follow_up_by, rep, name, saved, phone, converted, services, follow_up_completed])
= table(header, rows)
