- if @person_show
  %h3= @person.display_name + "'s Leads"
- else
  %h3 My Leads
- overdue = @comcast_leads.overdue
- upcoming = @comcast_leads.upcoming
- not_upcoming_or_overdue = @comcast_leads.not_upcoming_or_overdue
- header = header_row ['F/U By','Rep', 'Name', 'Saved', 'Phone', 'Services', 'Has Comments']


- if @comcast_leads.count == 0
  .comment None.
- if overdue.count > 0
  #overdue_leads
    %h4 Overdue
    = render partial: 'comcast_leads/table', locals: { leads: overdue, header: header }
- if upcoming.count > 0
  #upcoming_leads
    %h4
      Upcoming
      %span.small.comment 1 week
    = render partial: 'comcast_leads/table', locals: { leads: upcoming, header: header }
- if not_upcoming_or_overdue.count > 0
  %h4 Other Leads
  = render partial: 'comcast_leads/table', locals: { leads: not_upcoming_or_overdue, header: header }