= render 'search'

.widget
  .inner
    -#%div(style="top: 14em;position: absolute;")
      -#.NyanCat.NyanSize
    = render partial: 'comcast_leads/table', locals: { leads: @comcast_leads }
- content_for :footer do
  .left= csv_link csv_comcast_leads_path(controller: :comcast_leads, action: :index), @search.result.count
  = paginate @comcast_leads