%p= 'Hello ' + @candidate.first_name + ','
%p As part of your hiring process for Sprint, you are required to complete a candidate evaluation. This evaluation is not an aptitude test or an exam; it is simply a tool used in the hiring process to benchmark your skills against some of our most successful employees.  This evaluation make take up to 30 minutes to complete.  Please complete this evaluation as soon as possible to avoid unnecessary delays in the interviewing and selection process.
%p
  %strong Your employment is contingent on passing this assessment.

%p To complete the evaluation, please follow the link below:
= link_to @assessment_url, @assessment_url.to_s

%p We appreciate your interest in our career opportunities and desire to join our team!

%p Thank you,
%p Recruiting Team