%p= 'Hello ' + @candidate.first_name + ','

%p Thank you for applying for a position with SalesMakers, Inc.
%strong Unfortunately, your assessment scores did not meet the qualification for the position that we are currently hiring.
%p We will keep your information on file for future projects. Again, thank you for your interested

%p Thank you,
%p Recruiting Team