%strong= @supervisor.name + ','
%br
%br
%p You have new employees that are pending approval on whether or not to send them a table.
%p Please visit
%a{href: 'http://newcenter.salesmakersinc.com/people/tablet_approval' } http://newcenter.salesmakersinc.com/people/tablet_approval
or log into SalesCenter 2.0 and click the "Tablet Approval" link on your navigation to approve or deny the deployment.

%p
  %strong Employees will not be shipped assets without approval. Please do not reply to this email, it is read only. Enter a support ticket if you have any questions

%br
%br
%p Thank you,
%br
%strong SalesMakers, Inc IT Department