= mailer_h1 'Employee Separated that Has No Assets'

= @person_name + ' (' + @personal_email + ',' + @person_phone  + ', EID: ' + @eid + ') has just been separated from the company and does not have any assets in their possession.'
