- title @person.name + "'s Sales"
- content_for :action_buttons do
  = link_to icon('eye') + ' Info', person_path(@person), class: [:button, :inline_button]

.widgets
  = render partial: 'shared/sales_widget', locals: { object: @person }