- title @person.display_name + '\'s Wall'
- content_for :action_buttons do
  = link_to icon('eye') + ' About', about_person_path(@person), class: [:button, :inline_button]


.widgets
  = render 'shared/share_form'
  - for post in @wall_posts
    = display_post post