= content_for(:title) { @person.social_name + '\'s Wall' }

- content_for :action_buttons do
  = link_to icon('eye') + ' About', about_person_path(@person), class: [:button, :inline_button]


.widgets
  = render 'shared/share_form'
  - if @wall.wall_posts.count < 1
    .widget
      .inner
        .comment There are no posts here to show.
  = render 'wall_posts/wall_posts'