- title @person.display_name
.history
  - if @log_entries.count > 0
    %h2 History
    - future = Time.now
    - for entry in @log_entries
      .how_long
        = distance_of_time_in_words(entry.created_at, future, include_seconds: false)
        - future = entry.created_at
      = render_log_entry(entry)