= surround '"', '"' do
  log_entry.referenceable.name
removed from
= device_link log_entry.trackable
- if log_entry.comment?
  with comment
  %span.comment
    = surround '"', '"' do
      = log_entry.comment