- title 'SalesCenter 2.0'
.widget
  .inner
    %h3 Coming Soon
    %p
      Ready for something new? We're adding in functionality for each department
      as time goes on. Soon there will be something here for your department, too!
      Until then, what would you like to do?
    %ul
      %li= link_to 'Visit SalesCenter 1.0', 'https://rbdconnect.com'
      %li= link_to 'Visit TrainingCenter', 'http://rbdcampus.com'