---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=111%202nd%20Ave%20NE,%20St.%20Petersburg,%20FL%2033701&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "111",
                       "short_name" : "111",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "2nd Avenue Northeast",
                       "short_name" : "2nd Ave NE",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Downtown",
                       "short_name" : "Downtown",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                      [...]
