- header = header_row ['Identifier','Serial','Assigned To','Line','Manufacturer','Model','State(s)']
- rows = Array.new
- for device in @devices do
  - identifier = link_to device.identifier, device
  - serial = link_to device.serial, device
  - assigned_to = (device.person) ? person_link(device.person) : ''
  - line_object = device.line
  - line = line_object ? line_link(line_object) : ''
  - manufacturer = device.manufacturer_name
  - model_object = device.device_model
  - model = model_object.name
  - states = device_state_links device
  - rows << table_row([identifier,serial,assigned_to,line,manufacturer,model,states])
= table header, rows