- header = header_row [sort_link(@search, :identifier), sort_link(@search, :serial),sort_link(@search, :person_display_name, 'Assignee'),sort_link(@search, :line_identifier, 'Line'),sort_link(@search, :device_manufacturer_name, 'Manufacturer'),sort_link(@search, :device_model_name, 'Model'),'State(s)']
- rows = Array.new
- for device in @devices do
  - identifier = link_to device.identifier, device
  - serial = link_to device.serial, device
  - assigned_to = (device.person) ? person_link(device.person) : ''
  - line_object = device.line
  - line = line_object ? line_link(line_object) : ''
  - manufacturer = device.manufacturer_name
  - model_object = device.device_model
  - model = model_object.name
  - states = device_state_links device
  - rows << table_row([identifier,serial,assigned_to,line,manufacturer,model,states])
= table header, rows