---
http_interactions:
- request:
    method: get
    uri: https://api.groupme.com/v3/groups/111111?token=7a853610f0ca01310e5a065d7b71239d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gm-Service:
      - conversations
    body:
      encoding: UTF-8
      string: |
        {"response":null,"meta":{"code":404,"errors":["not found"]}}
  recorded_at: Fri, 31 Oct 2014 16:42:30 GMT
recorded_with: VCR 2.9.3
