.row.full-width
  .large-3.columns.centered_text
    -# TODO: AVATARS
    = link_to image_tag('avatars/1.jpg', class: :avatar), '#'
    %div
      %strong= post.person.display_name
    .small.comment.centered_text= time_ago_in_words(post.created_at)
  .large-9.columns
    .post_content
      %p= post.publication.publishable.content