---
http_interactions:
- request:
    method: post
    uri: https://api.groupme.com/v3/bots?token=1956b1d08a050132df253a66af516754
    body:
      encoding: UTF-8
      string: '{"bot":{"name":"Test User via SalesCenter 2.0","group_id":8936279,"callback_url":null,"avatar_url":"https://i.groupme.com/1127x1127.png.51d265a13ce44925aaa15a4e6a2b7b0e"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"260d08509a217a68335a740b0d702dd1"'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"meta":{"code":201},"response":{"bot":{"name":"Test User via SalesCenter
        2.0","bot_id":"7e40dac5a8843a5a28c9049e96","group_id":"8936279","group_name":"SalesMakers
        Test Playground!","avatar_url":"https://i.groupme.com/1127x1127.png.51d265a13ce44925aaa15a4e6a2b7b0e","callback_url":null}}}'
  recorded_at: Mon, 03 Aug 2015 12:42:12 GMT
- request:
    method: post
    uri: https://api.groupme.com/v3/bots/post
    body:
      encoding: UTF-8
      string: '{"bot_id":"7e40dac5a8843a5a28c9049e96","text":"This is a test message."}'
    headers: {}
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 202 Accepted
    body:
      encoding: UTF-8
      string: " "
  recorded_at: Mon, 03 Aug 2015 12:42:13 GMT
- request:
    method: post
    uri: https://api.groupme.com/v3/bots/destroy?token=1956b1d08a050132df253a66af516754
    body:
      encoding: UTF-8
      string: '{"bot_id":"7e40dac5a8843a5a28c9049e96"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: " "
  recorded_at: Mon, 03 Aug 2015 12:42:13 GMT
[...]
- request:
    method: post
    uri: https://api.groupme.com/v3/bots/destroy?token=1956b1d08a050132df253a66af516754
    body:
      encoding: UTF-8
      string: '{"bot_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"meta":{"code":404,"errors":["The requested path does not exist"]},"response":null}'
  recorded_at: Mon, 03 Aug 2015 12:42:14 GMT
recorded_with: VCR 2.9.3
