---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/shorten?access_token=f58f317c1fc3271679551ccf681f69a8f253447a&longUrl=http://localhost:3000/uploads/fb518ea8-82f8-41dd-9653-273ecec053f7_UQube%2520Import%2520for%2520FTP.xlsx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mime-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{ "data": [ ], "status_code": 500, "status_txt": "INVALID_URI" }'
  recorded_at: Mon, 02 Mar 2015 18:02:33 GMT
- request:
    method: post
    uri: https://api.groupme.com/v3/bots?token=1956b1d08a050132df253a66af516754
    body:
      encoding: UTF-8
      string: '{"bot":{"name":"Test User via SalesCenter 2.0","group_id":8936279,"callback_url":null,"avatar_url":"https://i.groupme.com/1127x1127.png.51d265a13ce44925aaa15a4e6a2b7b0e"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4c758a8a64ce8bfcf0d9cf8e426462b9"'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"meta":{"code":201},"response":{"bot":{"name":"Test User via SalesCenter
        2.0","bot_id":"b79f64feea10bb1cd1e1ac669b","group_id":"8936279","group_name":"RBD
        Test Playground!","avatar_url":"https://i.groupme.com/1127x1127.png.51d265a13ce44925aaa15a4e6a2b7b0e","callback_url":null}}}'
  recorded_at: Mon, 02 Mar 2015 18:02:34 GMT
- request:
    method: post
    uri: https://api.groupme.com/v3/bots/post
    body:
      encoding: UTF-8
      string: '{"bot_id":"b79f64feea10bb1cd1e1ac669b","text":"This is a test message."}'
    headers: {}
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 202 Accepted
    body:
      encoding: UTF-8
      string: " "
  recorded_at: Mon, 02 Mar 2015 18:02:34 GMT
- request:
    method: post
    uri: https://api.groupme.com/v3/bots/destroy?token=1956b1d08a050132df253a66af516754
    body:
      encoding: UTF-8
      string: '{"bot_id":"b79f64feea10bb1cd1e1ac669b"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: " "
  recorded_at: Mon, 02 Mar 2015 18:02:34 GMT
[...]
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/shorten?access_token=f58f317c1fc3271679551ccf681f69a8f253447a&longUrl=http://localhost:3000/uploads/c6563144-3bd0-40d1-8230-693f90a7a4b0_UQube%2520Import%2520for%2520FTP.xlsx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mime-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{ "data": [ ], "status_code": 500, "status_txt": "INVALID_URI" }'
  recorded_at: Fri, 06 Mar 2015 18:08:51 GMT
recorded_with: VCR 2.9.3
