- from = @sms_message.from_person
%p
  = link_to from.display_name, person_url(from)
  has just replied to your previous text message:
%blockquote
  = @sms_message.message
= link_to 'Click here to reply.', new_sms_message_person_url(from)
%h3 Last 24 Hours of Communication
= render partial: 'shared/communication_log', locals: { communication_log_entries: @last_24_hours }