#communication_log
  = paginate communication_log_entries, param_name: 'communication_log_entries_page'
  - header = header_row ['Date/Time','Type','From','To','Message']
  - rows = Array.new
  - for entry in communication_log_entries do
    - date_time = friendly_datetime entry.created_at
    - if entry.loggable_type == 'SMSMessage' and entry.loggable.inbound?
      - in_out = icon('arrow-left')
    - else
      - in_out = icon('arrow-right')
    - type = in_out + (entry.loggable_type == 'SMSMessage' ? ' SMS' : ' Email')
    - from = communication_log_from(entry)
    - to = communication_log_to(entry)
    - display = communication_log_display(entry)
    - rows << table_row([date_time, type, from, to, display])
  = table header, rows