%nav.top-bar.contain-to-grid.sticky{ data: { topbar: "" } }
  %ul.title-area
    %li.name
      %h1
        %a{ href: "#" } Home
    %li.toggle-topbar.menu-icon
      %a{ href: "#" }
        %span Menu
  %section.top-bar-section
    /LEFT NAV
    %ul.left
      %li.has-dropdown
        %a{ href: "#" } Vonage Retail
        %ul.dropdown
          %li
            %a{ href: "#" } Sales Entry
          %li.has-dropdown
            %a{ href: "#" } Areas &amp; Locations
            %ul.dropdown
              %li
                %a{ href: "#" } Area Types
              %li
                %a{ href: "#" } Areas
              %li.has-dropdown
                %a{ href: "#" } Channels
                %ul.dropdown
                  %li
                    %a{ href: "#" } Walmart
                  %li
                    %a{ href: "#" } Brandsmart
                  %li.divider
                  %li
                    %a{ href: "#" } Add Channel
          %li
            %a{ href: "#" } Gift Cards
          %li
            %a{ href: "#" } Job Titles
      %li.has-dropdown
        %a{ href: "#" } Vonage Events
        %ul.dropdown
          %li
            %a{ href: "#" } Sales Entry
            %li.has-dropdown
              %a{ href: "#" } Areas &amp; Locations
              %ul.dropdown
                %li
                  %a{ href: "#" } Area Types
                %li
                  %a{ href: "#" } Areas
                %li.has-dropdown
                  %a{ href: "#" } Channels
                  %ul.dropdown
                    %li
                      %a{ href: "#" } RBD Event Teams
                    %li
                      %a{ href: "#" } Kmart
                    %li
                      %a{ href: "#" } Sears
                    %li.divider
                    %li
                      %a{ href: "#" } Add Channel
          %li
            %a{ href: "#" } Inventory
          %li
            %a{ href: "#" } Job Titles
      %li.has-dropdown
        %a{ href: "#" } Sprint
        %ul.dropdown
          %li
            %a{ href: "#" } Sales Entry
            %li.has-dropdown
              %a{ href: "#" } Areas &amp; Locations
              %ul.dropdown
                %li
                  %a{ href: "#" } Area Types
                %li
                  %a{ href: "#" } Areas
                %li.has-dropdown
                  %a{ href: "#" } Channels
                  %ul.dropdown
                    %li
                      %a{ href: "#" } Walmart
                    %li.divider
                    %li
                      %a{ href: "#" } Add Channel
          %li
            %a{ href: "#" } Job Titles
    /RIGHT NAV
    %ul.right
      %li
        %a{ href: "#" } Clients
      %li
        %a{ href: "#" } People
      %li
        %a{ href: "#" } Training
      %li
        %a{ href: "#" } Assets
      %li
        %a{ href: "#" } Reports
      %li.divider
      %li.has-dropdown
        %a{ href: "#" }= current_user.username
        %ul.dropdown
          %li
            %a{ href: "#" } My Profile
          %li.divider
          %li
            %a= link_to 'Sign Out', logout_path
      %li.has-form
        %a.small.button{ href: "#" } Help