- title @department.name + "'s Wall"

.widgets
  = render 'shared/share_form'
  - if @wall.wall_posts.count < 1
    .widget
      .inner
        .comment There are no posts here to show.
  - for post in @wall_posts
    = display_post post