---
http_interactions:
- request:
    method: post
    uri: https://www.docusign.net/restapi/v2/accounts/6307293/envelopes
    body:
      encoding: UTF-8
      string: '{"status":"created","emailBlurb":"\n              Enclosed are the
        documents that you must complete as the first stage of your potential employment
        with SalesMakers, Inc.  This is an electronic process.  Please complete as
        soon as possible.\n\n              Tips for completing the New Hire Paperwork:\n              ·         When
        completing the NHP you will need to create and electronic signature\n              ·         You
        have 30 minutes to complete the NHP before it times out. If needed you can
        save your progress by selecting \"finish later\".\n              ·         As
        you complete the NHP please use your legal name as stated on your work authorization
        document.\n              ·         Click the \"Next\"\" box on the left hand
        side in order to take you through the required fields, If anything is not
        applicable to you please type in \"N/A\".\n\n              Please contact
        your recruiter should you have any questions or problems.\n            ","emailSubject":"Test
        Project Employment Application and New Hire Paperwork for: Test Candidate","templateId":"BCDA79DF-21E1-4726-96A6-AC2AAD715BB5","eventNotification":{},"templateRoles":[{"name":"Test
        Candidate","email":"test@user.com","roleName":"New Employee","tabs":{"textTabs":[],"checkboxTabs":[]}}]}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"it@retaildoneright.com","Password":"IT@Supp0rt","IntegratorKey":"RETA-116c6b7d-09cf-4c4e-876c-65cbf19aaacc"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1426618800'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
    body:
      encoding: UTF-8
      string: "{\r\n  \"envelopeId\": \"9847f64e-a8c9-402e-a815-1550a47efe20\",\r\n
        \ \"uri\": \"/envelopes/9847f64e-a8c9-402e-a815-1550a47efe20\",\r\n  \"statusDateTime\":
        \"2015-03-17T18:51:25.1600000Z\",\r\n  \"status\": \"created\"\r\n}"
  recorded_at: Tue, 17 Mar 2015 18:51:28 GMT
- request:
    method: put
    uri: https://www.docusign.net/restapi/v2/accounts/6307293/envelopes/9847f64e-a8c9-402e-a815-1550a47efe20
    body:
      encoding: UTF-8
      string: '{"status":"sent"}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"it@retaildoneright.com","Password":"IT@Supp0rt","IntegratorKey":"RETA-116c6b7d-09cf-4c4e-876c-65cbf19aaacc"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"errorCode\": \"INVALID_EMAIL_ADDRESS_FOR_RECIPIENT\",\r\n
        \ \"message\": \"The email address for the recipient is invalid. The recipient
        Id follows.\"\r\n}"
  recorded_at: Tue, 17 Mar 2015 18:51:29 GMT
recorded_with: VCR 2.9.3
