= javascript_include_tag 'dashboard.js'
- content_for :action_buttons do
  = link_to 'Switch to Social', root_path, class: [:button, :tiny, :rounded, :inline_button]
  = new_button '#' # TODO: FILL ME IN

.widgets.row.full-width
  .row.full-width
    %span#alerts_widget
    %span#sales_widget
    %span#hours_widget
  .row.full-width
    %span#tickets_widget
    %span#image_gallery_widget
    %span#inventory_widget
  .row.full-width
    %span#staffing_widget
    %span#gaming_widget
    %span#social_widget
  .row.full-width
    %span#commissions_widget
    %span#training_widget
    %span#gift_cards_widget

-#%script(src="https://push.groupme.com/faye/client.js" type="text/javascript")
-#%script(src="https://push.groupme.com/client.js" type="text/javascript")