- content_for :slider do
  -# = render 'shared/social_swiper'
  .swiper-placeholder
    = image_tag 'loading.gif', class: :loading
    %span#groupme_slider_widget
.widgets.row.full-width
  .row.full-width
    %span#alerts_widget
    %span#sales_widget
    %span#hours_widget
  .row.full-width
    %span#social_widget
    %span#tickets_widget
    %span#image_gallery_widget
  .row.full-width
    %span#inventory_widget
    %span#staffing_widget
    %span#gaming_widget
  .row.full-width
    %span#commissions_widget
    %span#training_widget
    %span#gift_cards_widget
