.widgets.row.full-width
  .row.full-width
    %span#sales_widget
    %span#hours_widget
    %span#tickets_widget
  .row.full-width
    %span#social_widget
    %span#alerts_widget
    %span#image_gallery_widget
  .row.full-width
    %span#inventory_widget
    %span#staffing_widget
    %span#gaming_widget
  .row.full-width
    %span#commissions_widget
    %span#training_widget
    %span#gift_cards_widget
