- @title = "Home"
%header
%h1 Home
.masonry
  .widget.widget-sizer
  .widget.w5
    .inner BOX 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo scelerisque purus, vitae luctus urna. In quis lectus in est dignissim facilisis ut vitae neque. Ut vel volutpat lectus. Ut pretium eget libero quis commodo. Proin pretium ante felis, vitae rhoncus odio tincidunt eget. Curabitur at neque sit amet magna vestibulum cursus nec sed ante. Proin eu ante quis quam blandit placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce molestie id turpis accumsan consequat. Curabitur ligula lorem, placerat eget porta vitae, imperdiet sit amet massa.
  .widget
    .inner
      BOX 2
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque scelerisque diam in porttitor pellentesque. Aliquam vestibulum odio vitae magna vehicula, et faucibus ipsum vestibulum. Nunc sit amet massa mattis, lobortis urna ac, laoreet erat. Donec tempus tortor nec dolor aliquam, vitae mollis tortor facilisis. In quis dui enim. Nam et elit a nisi mattis ullamcorper et at diam. Morbi elementum sem ut pharetra molestie.
      %p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus porta nibh luctus eros elementum malesuada. Vestibulum mi felis, sodales a nulla id, volutpat cursus dui. Suspendisse pretium felis ac neque luctus egestas. Cras ac laoreet justo. Nulla mattis leo sed nisl ullamcorper laoreet. In auctor dui sit amet tortor cursus convallis. Suspendisse malesuada, massa eget pretium gravida, magna arcu varius neque, et fermentum ante lacus at urna. Etiam dictum odio accumsan scelerisque cursus. Proin blandit justo in lectus malesuada gravida. Duis porta volutpat justo eu faucibus. Nunc rutrum mauris quis sagittis convallis. Mauris sem velit, mattis id semper eget, viverra vitae eros. Sed lectus sapien, aliquam quis nisl at, sollicitudin accumsan risus. Pellentesque pharetra hendrerit mi sit amet vestibulum.
      %p Nulla at ipsum erat. Aenean eleifend et risus ut vestibulum. Nam semper libero nec sapien fermentum hendrerit. Aliquam erat volutpat. Aliquam eget nisi tincidunt, vestibulum justo at, pharetra felis. Pellentesque purus arcu, pulvinar in felis in, luctus pellentesque quam. Pellentesque id turpis eget ligula feugiat hendrerit non sit amet lacus.
  .widget.w2
    .inner
      %h3 Vonage Retail Sales
      #saleschart
  .widget
    .inner BOX 4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo scelerisque purus, vitae luctus urna. In quis lectus in est dignissim facilisis ut vitae neque.
  .widget.w3
    .inner BOX 5 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo scelerisque purus, vitae luctus urna. In quis lectus in est dignissim facilisis ut vitae neque. Ut vel volutpat lectus. Ut pretium eget libero quis commodo. Proin pretium ante felis, vitae rhoncus odio tincidunt eget. Curabitur at neque sit amet magna vestibulum cursus nec sed ante. Proin eu ante quis quam blandit placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce molestie id turpis accumsan consequat. Curabitur ligula lorem, placerat eget porta vitae, imperdiet sit amet massa.
  .widget
    .inner BOX 6 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo scelerisque purus, vitae luctus urna. In quis lectus in est dignissim facilisis ut vitae neque. Ut vel volutpat lectus. Ut pretium eget libero quis commodo. Proin pretium ante felis, vitae rhoncus odio tincidunt eget. Curabitur at neque sit amet magna vestibulum cursus nec sed ante. Proin eu ante quis quam blandit placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  .widget.w4
    .inner BOX 7 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo scelerisque purus, vitae luctus urna. In quis lectus in est dignissim facilisis ut vitae neque. Ut vel volutpat lectus. Ut pretium eget libero quis commodo. Proin pretium ante felis, vitae rhoncus odio tincidunt eget. Curabitur at neque sit amet magna vestibulum cursus nec sed ante. Proin eu ante quis quam blandit placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce molestie id turpis accumsan consequat. Curabitur ligula lorem, placerat eget porta vitae, imperdiet sit amet massa.
  .widget
    .inner BOX 8 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo scelerisque purus, vitae luctus urna. In quis lectus in est dignissim facilisis ut vitae neque. Ut vel volutpat lectus. Ut pretium eget libero quis commodo. Proin pretium ante felis, vitae rhoncus odio tincidunt eget. Curabitur at neque sit amet magna vestibulum cursus nec sed ante. Proin eu ante quis quam blandit placerat. ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo scelerisque purus, vitae luctus urna. In quis lectus in est dignissim facilisis ut vitae neque. Ut vel volutpat lectus. Ut pretium eget libero quis commodo. Proin pretium ante felis, vitae rhoncus odio tincidunt eget. Curabitur at neque sit amet magna vestibulum cursus nec sed ante. Proin eu ante quis quam blandit placerat.

