- content_for :action_buttons do
  =# link_to 'Switch to Dashboard', home_dashboard_path, class: [:button,:rounded, :inline_button]

.wall
  .widget.wall_post
    .inner
      = render 'shared/share_form'

  - for wall_post in @wall_posts do
    = display_post wall_post
= paginate @wall_posts