%h3
  Alerts
  %span.small.comment Current
.alert-box.alert
  Abou Ly sold 0071CC793A9B on 07/10 but had no hours worked and will not get credit for the sale unless hours are entered.
.alert-box.alert
  Christopher Cooke has been separated and has at least one asset in their possession.
.alert-box.alert
  Aamer Sajwani worked 6.48400020599365234375 hours without a break on 07/04
.alert-box.alert
  Bashar Al-Shammaa's shift on 07/08 has a shift location (Retail Training) that conflicts with 1 or more sales locations. You must resolve this to get your locations' HPS to reflect properly.
