%h3
  Alerts
  %span.small.comment Current
- if @person
  .alert-box.alert
    Natalia Garcia Suarez worked 6.50899982452392578125 hours without a break on 07/04
  .alert-box.alert
    Natalia Garcia Suarez worked 6.589000225067138671875 hours without a break on 07/09
  .alert-box.alert
    Natalia Garcia Suarez worked 6.93200016021728515625 hours without a break on 07/08
  .alert-box.alert
    Natalia Garcia Suarez's shift on 07/03 was missing the "customer"
-else
  .alert-box.alert
    Abou Ly sold 0071CC793A9B on 07/10 but had no hours worked and will not get credit for the sale unless hours are entered.
  .alert-box.alert
    Christopher Cooke has been separated and has at least one asset in their possession.
  .alert-box.alert
    Aamer Sajwani worked 6.48400020599365234375 hours without a break on 07/04
  .alert-box.alert
    Bashar Al-Shammaa's shift on 07/08 has a shift location (Retail Training) that conflicts with 1 or more sales locations. You must resolve this to get your locations' HPS to reflect properly.
