%h3
  Nationwide Comparison
  %span.small.comment Current
.row.full-width
  = stat '12%', 'Over Average Sales', 'ok'
  = stat '8%', 'Under Staffing Average', 'warning'
  = stat '22%', 'Under Hours Average', 'bad'
.row.full-width
  = stat '15%', 'On Target for Promotion', 'neutral'