%h3
  Gift Cards
  %span.small.comment Current
- if @person
  .row.full-width
    .large-4.columns.centered_text
      .neutral.rounded.full-width.padded
        .large 2
        %strong Assigned
    .large-4.columns.centered_text
      .bad.rounded.full-width.padded
        .large 1
        %strong Used and not Entered
    .large-4.columns.centered_text
- else
  .row.full-width
    .large-4.columns.centered_text
      .neutral.rounded.full-width.padded
        .large 10
        %strong On Hand
    .large-4.columns.centered_text
      .neutral.rounded.full-width.padded
        .large 9
        %strong Employees Scheduled
    .large-4.columns.centered_text
      .bad.rounded.full-width.padded
        .large .9
        %strong Cards Per Employee
  .row.full-width
    .large-4.columns.centered_text
      .bad.rounded.full-width.padded
        .large 2
        %strong Employees Without Cards
    .large-4.columns.centered_text
      .ok.rounded.full-width.padded
        .large 0
        %strong Variance