%h3
  Social Activity Summary
  %span.small.comment This week
.row.full-width
  = stat 26, 'Event-ful GroupMe', 'neutral', 'Posts'
  = stat 45, 'LAX|PHX Team!', 'neutral', 'Posts'
  = stat 31, 'Keep Austin Awesome', 'neutral'
.row.full-width
  = stat 5, 'Unread Messages', 'bad'