%h3
  Social
  %span.small.comment This week
.row.full-width
  .large-4.columns.centered_text
    .neutral.rounded.full-width.padded
      .large 26
      .small.comment Posts
      %strong Event-ful GroupMe
  .large-4.columns.centered_text
    .neutral.rounded.full-width.padded
      .large 45
      .small.comment Posts
      %strong LAX|PHX Team!
  .large-4.columns.centered_text
    .neutral.rounded.full-width.padded
      .large 31
      .small.comment Posts
      %strong Keep Austin Awesome
.row.full-width
  .large-4.columns.centered_text
    .bad.rounded.full-width.padded
      .large 5
      %strong Unread Messages