%h3
  Social
  %span.small.comment This week

%p
  %strong Posts in Event-ful GroupMe
  20
%p
  %strong Posts in LAX|PHX Team!
  45
%p
  %strong Posts in Keep Austin Awesome
  10
%p
  %strong Unread messages to you
  = link_to '5', '#'



