%h3
  Staffing
  %span.small.comment Current
.centered_text
  .warning.rounded.padded
    .x-large 75%
    %strong Staffed
.vertical_space
.row.full-width
  .large-4.columns.centered_text
    .ok.rounded.full-width.padded
      .large 12
      %strong Active Locations
  .large-4.columns.centered_text
    .warning.rounded.full-width.padded
      .large 9
      %strong Active Employees
  .large-4.columns.centered_text
    .warning.rounded.full-width.padded
      .large .75
      %strong Heads per Door