%h3
  Staffing
  %span.small.comment Current
.centered_text
  .warning.rounded.padded
    .x-large 75%
    %strong Staffed
.vertical_space
.row.full-width
  = stat 12, 'Active Locations', 'ok'
  = stat 9, 'Active Employees', 'warning'
  = stat 0.75, 'Heads per Door', 'warning'