Edited and updated DirecTV lead
- directv_lead = log_entry.trackable
- directv_customer = directv_lead.directv_customer
for
= directv_customer_link(directv_customer)
in
%span.comment= directv_customer.location.name