---
http_interactions:
- request:
    method: post
    uri: https://services.fiberlink.com/auth-apis/auth/1.0/authenticate/1068247
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <authRequest>
          <maaS360AdminAuth>
            <billingID>1068247</billingID>
            <platformID>3</platformID>
            <appID>com.1068247.rbd</appID>
            <appVersion>1.0</appVersion>
            <appAccessKey>iqu5zKJYBg</appAccessKey>
            <userName>it@retaildoneright.com</userName>
            <password>qO7@vDtt</password>
          </maaS360AdminAuth>
        </authRequest>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rate-Limit-Max:
      - '250000'
      X-Rate-Limit-Remaining:
      - '249992'
      X-Rate-Limit-Resetwindow:
      - '21194'
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><authResponse><authToken>07dc3338-6996-4bd7-8429-9a0c2cef9843-B4s5K81</authToken><errorCode>0</errorCode></authResponse>
  recorded_at: Mon, 03 Aug 2015 12:50:01 GMT
recorded_with: VCR 2.9.3
