---
http_interactions:
- request:
    method: post
    uri: https://services.fiberlink.com/auth-apis/auth/1.0/authenticate/1068247
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <authRequest>
          <maaS360AdminAuth>
            <billingID>1068247</billingID>
            <platformID>3</platformID>
            <appID>com.1068247.rbd</appID>
            <appVersion>1.0</appVersion>
            <appAccessKey>iqu5zKJYBg</appAccessKey>
            <userName>it@retaildoneright.com</userName>
            <password>qO7@vDtt</password>
          </maaS360AdminAuth>
        </authRequest>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rate-Limit-Max:
      - '1'
      X-Rate-Limit-Remaining:
      - '1'
      X-Rate-Limit-Resetwindow:
      - '0'
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><authResponse><authToken>57db72a6-4f8b-4cc8-add6-f3bbda9cee84-B0vHhsR</authToken><errorCode>0</errorCode></authResponse>
  recorded_at: Thu, 25 Jun 2015 20:23:17 GMT
recorded_with: VCR 2.9.3
