%p A new SalesMakers, Inc candidate has indicated they formerly worked for Radio Shack. The candidate's details are as follows:

%p
  %strong Name:
  = @name
%p
  %strong Radio Shack Start Date:
  = @start_date
%p
  %strong Radio Shack End Date:
  = @end_date
%p
  %strong Radio Shack Location:
  = @location