%p Kelly,

%p The candidate below recently applied through SalesMakers for a position within the Sprint / Radio Shack program. This candidate informed our recruiter during the prescreen interview that they have previously worked for RadioShack. Below is the information we were able to collect so you can check on the hiring status. We have prescreened this employee and will await your response on re-hire status to proceed further.

%p
  %strong Name:
  = @name
%p
  %strong Radio Shack Start Date:
  = @start_date
%p
  %strong Radio Shack End Date:
  = @end_date
%p
  %strong Radio Shack Location:
  = @location