- referenceable = log_entry.referenceable
- project = referenceable.project
assigned
= person_link log_entry.trackable
to
= link_to referenceable.name, client_project_area_path(project.client, project, referenceable)