- referenceable = log_entry.referenceable
- project = referenceable.project
Assigned
= person_link log_entry.trackable
as manager of
= link_to referenceable.name, client_project_area_path(project.client, project, referenceable)