- referenceable = log_entry.referenceable
Set position for
= person_link log_entry.trackable
to
-# TODO: = link_to referenceable.name, department_position_path(referenceable.department, referenceable)
= referenceable.name