- headers = ['Date', 'Seller', 'Seller Email', 'Entered', 'Entered By', 'Supervisors', 'MAC ID', 'Confirmation #', 'Channel', 'Location Name', 'Store Number', 'Address', 'Customer', 'Product', 'Gift Card', 'Areas', 'Validated?', 'Vested?']
= CSV.generate_line(headers).html_safe
- @vonage_sales.each do |sale|
  - customer_name = NameCase sale.customer_first_name + ' ' + sale.customer_last_name
  = CSV.generate_line([ |
    short_date(sale.sale_date), |
    NameCase(sale.person.display_name), |
    sale.person.email, |
    full_datetime(sale.created_at.in_time_zone), |
    sale.creator ? sale.creator.display_name : '', |
    sale.person.direct_supervisors.pluck(:display_name).join(', '), |
    sale.mac, |
    sale.confirmation_number, |
    sale.location.channel.name, |
    sale.location.name, |
    sale.location.store_number, |
    sale.location.address, |
    customer_name, |
    sale.vonage_product.name, |
    sale.gift_card_number, |
    sale.location.location_areas.joins(area: :project).where("projects.name = 'Vonage Retail'").map { |la| la.area.ancestors.map { |a| a.name } << la.area.name }.join(", "), |
    sale.vonage_account_status_changes.where("created_at > ? AND status = 0", sale.created_at).empty? ? 'No' : 'Yes', |
    sale.vested? ? 'Yes' : 'No' |
  ]).html_safe |