#candidate_hours.widget
  .inner
    %h3 Candidate Hours
    %p
      %strong Total Hours:
      = @candidate_total_hours
    %p
      %strong Hours This Week:
      = @candidate_hours_last_week
    %p
      %strong Last Shift Date:
      = @last_shift_date
    %p
      %strong Last Shift Location:
      = @last_shift_location
