- headers = header_row(['', 'Project', 'Distance', 'City', 'Location', 'Store Number','Schedule', 'Hourly Rate', 'Target HC', 'Potentials', 'Extended Offers', 'Current HC', 'Open'])
- rows = []
- count = 0
- project = nil
- for location_area in @location_areas do
  - next if @candidate.location_area and @candidate.location_area == location_area
  - target = 0
  - location = location_area.location
  - potentials = 0
  - offers_extended = 0
  - current = 0
  - target = location_area.target_head_count if location_area
  - potentials = location_area.potential_candidate_count if location_area
  - offers_extended = location_area.offer_extended_count if location_area
  - current = location_area.current_head_count if location_area
  - open = target - (current + offers_extended)
  - count += 1
  - project = project_link location_area.area.project
  - if location_area.outsourced?
    - project += content_tag(:strong, " OUTSOURCED")
  - link_classes = []
  - link_classes << :strikethrough if open < 1
  - path = set_location_area_candidate_path(@candidate, location_area, @back_to_confirm.to_s)
  - distance = link_to location.geographic_distance(@candidate).round(2).to_s, path, class: link_classes
  - city = location.city
  - schedule = raw @schedule.join
  - location_name = link_to "#{location.channel.name}, #{location.display_name}", path, class: link_classes
  - store_number = link_to location.store_number, path, class: link_classes
  - hourly_rate = location_area.hourly_rate ? number_to_currency(location_area.hourly_rate) : ''
  - address = link_to location.address, path, class: link_classes
  - classes = location_area.outsourced? ? [:outsourced_row] : nil
  - rows << table_row(["#{count.to_s}.", project, distance, city, location_name, store_number, schedule,  hourly_rate, target.to_s, potentials.to_s, offers_extended.to_s, current.to_s, open.to_s], classes)
= table headers, rows