- title @project.name + " Sales"
- content_for :action_buttons do
  = link_to icon('thumbnails') + ' Wall', client_project_path(@project.client, @project), class: [:button, :inline_button]

.widgets
  = render partial: 'shared/sales_widget', locals: { object: @project }
  = render 'people_sales_top_10'
  - for root in @roots do
    = render partial: 'shared/sales_widget', locals: { object: root, link_to_object: true }