- headers = ['Inst Date', 'Inst Time', 'Rep', 'Sold', 'Customer', 'Mobile Phone', 'Order Number']
= CSV.generate_line headers
- @results.each do |sale|
  = CSV.generate_line([ |
    short_date(sale.directv_install_appointment.install_date), |
    sale.directv_install_appointment.directv_install_time_slot.name, |
    sale.person.display_name, |
    short_date(sale.order_date), |
    sale.directv_customer.name, |
    sale.directv_customer.mobile_phone, |
    sale.order_number |
  ]) |