- title 'Dismiss Candidate for Schedule Reason'

- if @schedule_dismissal.errors.any?
  - @schedule_dismissal.errors.full_messages.each do |msg|
    .alert.alert-box= msg

.widget
  .inner
    %h3 What time is the Candidate Available?


