---
http_interactions:
- request:
    method: post
    uri: https://www.docusign.net/restapi/v2/accounts/6307293/envelopes
    body:
      encoding: UTF-8
      string: '{"status":"created","emailBlurb":null,"emailSubject":"Test Project
        - NOTICE OF SEPARATION FOR: Test User","templateId":"E0D92C92-D229-4C25-9CAF-E258FA990AF5","eventNotification":{},"templateRoles":[{"name":"Test
        Manager","email":"smiles@retaildoneright.com","roleName":"Manager","tabs":{"textTabs":[],"checkboxTabs":[]}}]}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"it@retaildoneright.com","Password":"reta!lPr0s","IntegratorKey":"RETA-116c6b7d-09cf-4c4e-876c-65cbf19aaacc"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1431363600'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '933'
    body:
      encoding: UTF-8
      string: "{\r\n  \"envelopeId\": \"c571fcd0-b95a-4112-ae74-659c9cb3a16e\",\r\n
        \ \"uri\": \"/envelopes/c571fcd0-b95a-4112-ae74-659c9cb3a16e\",\r\n  \"statusDateTime\":
        \"2015-05-11T16:24:41.9370000Z\",\r\n  \"status\": \"created\"\r\n}"
  recorded_at: Mon, 11 May 2015 16:24:42 GMT
- request:
    method: put
    uri: https://www.docusign.net/restapi/v2/accounts/6307293/envelopes/c571fcd0-b95a-4112-ae74-659c9cb3a16e
    body:
      encoding: UTF-8
      string: '{"status":"sent"}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"it@retaildoneright.com","Password":"reta!lPr0s","IntegratorKey":"RETA-116c6b7d-09cf-4c4e-876c-65cbf19aaacc"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 11 May 2015 16:24:44 GMT
recorded_with: VCR 2.9.3
