---
http_interactions:
- request:
    method: post
    uri: https://api.groupme.com/v3/groups/1/update?token=1956b1d08a050132df253a66af516754
    body:
      encoding: UTF-8
      string: '{"name":"[Test Project] A Test Area"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"meta":{"code":404,"errors":["The requested path does not exist"]},"response":null}'
  recorded_at: Fri, 30 Jan 2015 19:12:41 GMT
- request:
    method: post
    uri: https://api.groupme.com/v3/bots?token=1956b1d08a050132df253a66af516754
    body:
      encoding: UTF-8
      string: '{"bot":{"name":"SalesCenter","group_id":1,"callback_url":"http","avatar_url":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: " "
  recorded_at: Fri, 30 Jan 2015 20:09:35 GMT
recorded_with: VCR 2.9.3
