---
http_interactions:
- request:
    method: post
    uri: https://api.groupme.com/v3/bots?token=1956b1d08a050132df253a66af516754
    body:
      encoding: UTF-8
      string: '{"bot":{"name":"SalesCenter","group_id":8936279,"callback_url":"http://salesmakersinc.com/groupme/index.php","avatar_url":"https://i.groupme.com/1127x1127.png.51d265a13ce44925aaa15a4e6a2b7b0e"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"69a41bbd728435e694e9477885126a9e"'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"meta":{"code":201},"response":{"bot":{"name":"SalesCenter","bot_id":"e768f6c65e67a6d3be6dee46cd","group_id":"8936279","group_name":"SalesMakers
        Test Playground!","avatar_url":"https://i.groupme.com/1127x1127.png.51d265a13ce44925aaa15a4e6a2b7b0e","callback_url":"http://salesmakersinc.com/groupme/index.php"}}}'
  recorded_at: Mon, 03 Aug 2015 12:49:42 GMT
recorded_with: VCR 2.9.3
