---
http_interactions:
- request:
    method: post
    uri: https://api.groupme.com/v3/bots?token=1956b1d08a050132df253a66af516754
    body:
      encoding: UTF-8
      string: '{"bot":{"name":"SalesCenter","group_id":1,"callback_url":"http://salesmakersinc.com/groupme/index.php","avatar_url":"https://i.groupme.com/1127x1127.png.51d265a13ce44925aaa15a4e6a2b7b0e"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: " "
  recorded_at: Fri, 06 Feb 2015 21:06:35 GMT
recorded_with: VCR 2.9.3
