---
http_interactions:
- request:
    method: post
    uri: https://www.docusign.net/restapi/v2/accounts/6307293/envelopes
    body:
      encoding: UTF-8
      string: '{"status":"created","emailBlurb":null,"emailSubject":"Sprint Postpaid
        - NOTICE OF SEPARATION FOR: Test User","templateId":"CD15C02E-B073-44D9-A60A-6514C24949CB","eventNotification":{},"templateRoles":[{"name":"Manager","email":"tuser59@rbd-von.com","roleName":"Manager","tabs":{"textTabs":[{"tabLabel":"Employee
        Name","name":"Employee Name","value":"Test User","documentId":null,"selected":null,"locked":true},{"tabLabel":"Last
        Day Worked","name":"Last Day Worked","value":"08-31-15","documentId":null,"selected":null,"locked":true},{"tabLabel":"Termination
        Date","name":"Termination Date","value":"08-31-15","documentId":null,"selected":null,"locked":true},{"tabLabel":"Remarks","name":"Remarks","value":"Test
        remarks","documentId":null,"selected":null,"locked":true},{"tabLabel":"Location","name":"Location","value":true,"documentId":null,"selected":null,"locked":true},{"tabLabel":"Eligible
        for Rehire","name":"Eligible for Rehire","value":false,"documentId":null,"selected":null,"locked":true},{"tabLabel":"Separation
        Reason","name":"Separation Reason","value":"Test Reason","documentId":null,"selected":null,"locked":true}],"checkboxTabs":[],"numberTabs":[],"fullNameTabs":[],"dateTabs":[]}}],"customFields":null}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"it@retaildoneright.com","Password":"reta!lPr0s","IntegratorKey":"RETA-116c6b7d-09cf-4c4e-876c-65cbf19aaacc"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1441029600'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '996'
    body:
      encoding: UTF-8
      string: "{\r\n  \"envelopeId\": \"3839539b-1214-49aa-9ffa-038a83199826\",\r\n
        \ \"uri\": \"/envelopes/3839539b-1214-49aa-9ffa-038a83199826\",\r\n  \"statusDateTime\":
        \"2015-08-31T13:02:52.3530000Z\",\r\n  \"status\": \"created\"\r\n}"
  recorded_at: Mon, 31 Aug 2015 13:02:53 GMT
- request:
    method: put
    uri: https://www.docusign.net/restapi/v2/accounts/6307293/envelopes/3839539b-1214-49aa-9ffa-038a83199826
    body:
      encoding: UTF-8
      string: '{"status":"sent"}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"it@retaildoneright.com","Password":"reta!lPr0s","IntegratorKey":"RETA-116c6b7d-09cf-4c4e-876c-65cbf19aaacc"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 31 Aug 2015 13:02:55 GMT
recorded_with: VCR 2.9.3
