%li.nested_areas
  - if area.children and area.children.count > 0
    - icon = icon('minus').html_safe + ' '
    = link_to icon, '#', class: :nested_areas_icon
    = area_link area
  - else
    = area_link area
