%li.nested_areas
  - if area.children and area.children.count > 0
    - icon = icon('minus').html_safe + ' '
  - else
    - icon = ''
  = link_to icon, '#'
  = link_to area.name, [area.project.client, area.project, area]