- title @area.name + "'s Sales"

.widgets
  = render partial: 'shared/sales_widget', locals: { object: @area }
  - for area in @area.children.order(:name) do
    = render partial: 'shared/sales_widget', locals: { object: area, link_to_object: true }
  - unless @area.has_children?
    - for person in @area.people.order(:display_name) do
      = render partial: 'shared/sales_widget', locals: { object: person, link_to_object: true }