---
http_interactions:
- request:
    method: post
    uri: https://www.workmarket.com/api/v1/authorization/request
    body:
      encoding: UTF-8
      string: token=0Ft3BIzVFhfFOP1dFXmq&secret=n5P0ZNrjpIyuUw7KIBdNW7ENT0TmdAQevTQbk7Ow
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.042,"timestamp":1438606094},"response":{"access_token":"LP1pLt1zBrsG1VwwpKlW"}}'
  recorded_at: Mon, 03 Aug 2015 12:48:14 GMT
- request:
    method: get
    uri: https://www.workmarket.com/api/v1/assignments/list?access_token=LP1pLt1zBrsG1VwwpKlW&start=0&status=complete
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.1,"timestamp":1438606094},"response":{"total_results":0,"count":0,"start":0,"limit":25,"data":[]}}'
  recorded_at: Mon, 03 Aug 2015 12:48:15 GMT
- request:
    method: get
    uri: https://www.workmarket.com/api/v1/assignments/list?access_token=LP1pLt1zBrsG1VwwpKlW&start=0&status=paymentPending
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.147,"timestamp":1438606095},"response":{"total_results":373,"count":25,"start":0,"limit":25,"data":[{"id":"3416807885","project_id":1227561,"title":"Training
        Vids","scheduled_start":1437566400,"scheduled_end":1437944400,"city":null,"state":null,"postal_code":null,"location_id":null,"spend_limit":"6.0","modified_status":"Payment
        Pending","status":"paymentPending","substatuses":[],"labels":[],"internal_owner":"Elisabeth
        Hillyer","client":"Training Vids","client_id":31385,"paid_date":null,"total_cost":"6.0","resource_company_name":"Sole
        Proprietor","resource_user_number":"19700391","resource_full_name":"Glen Carver","last_modified_on":1438285845,"modifier_first_name":"A","modifier_last_name":"McCabe"},{"id":"7055054731","project_id":null,"title":"Training
        Vids","scheduled_start":1437566400,"scheduled_end":1437944400,"city":null,"state":null,"postal_code":null,"location_id":null,"spend_limit":"6.0","modified_status":"Payment
        Pending","status":"paymentPending","substatuses":[],"labels":[],"internal_owner":"Elisabeth
        Hillyer","client":"Training Vids","client_id":31385,"paid_date":null,"total_cost":"6.0","resource_company_name":"Sole
        Proprietor","resource[...]
[...]
- request:
    method: get
    uri: https://www.workmarket.com/api/v1/assignments/list?access_token=LP1pLt1zBrsG1VwwpKlW&start=0&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.16[...]
[...]
- request:
    method: get
    uri: https://www.workmarket.com/api/v1/assignments/list?access_token=LP1pLt1zBrsG1VwwpKlW&start=0&status=refunded
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.034,"timestamp":1438606113},"response":{"total_results":0,"count":0,"start":0,"limit":25,"data":[]}}'
  recorded_at: Mon, 03 Aug 2015 12:48:34 GMT
recorded_with: VCR 2.9.3
