---
http_interactions:
- request:
    method: post
    uri: https://www.workmarket.com/api/v1/authorization/request
    body:
      encoding: UTF-8
      string: token=0Ft3BIzVFhfFOP1dFXmq&secret=n5P0ZNrjpIyuUw7KIBdNW7ENT0TmdAQevTQbk7Ow
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.015,"timestamp":1438606118},"response":{"access_token":"3BjFAjLYRygnE6OFyvSI"}}'
  recorded_at: Mon, 03 Aug 2015 12:48:38 GMT
- request:
    method: get
    uri: https://www.workmarket.com/api/v1/crm/clients/list?access_token=3BjFAjLYRygnE6OFyvSI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.164,"timestamp":1438606118},"response":[{"id":26665,"name":"AAFES","customer_id":"101"},{"id":26661,"name":"Bed
        Bath and Beyond","customer_id":"100"},{"id":30517,"name":"COX Communications","customer_id":""},{"id":28965,"name":"DripDrop","customer_id":""},{"id":30513,"name":"Moshi","customer_id":""},{"id":29605,"name":"Sales
        makers","customer_id":""},{"id":31385,"name":"Training Vids","customer_id":""}]}'
  recorded_at: Mon, 03 Aug 2015 12:48:38 GMT
- request:
    method: get
    uri: https://www.workmarket.com/api/v1/crm/locations/list?access_token=3BjFAjLYRygnE6OFyvSI&client_id=26665
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":1.08,"timestamp":1438606118},"response":[{"id":2935317,"name":"1010209","location_number":null,"address_1":"787
        SIXTH ST","address_2":null,"city":"LITTLEROCK AFB","state":"AR","zip":"72099","country":"USA"},{"id":3026441,"name":"1010348","location_number":"","address_1":"455
        CURTISS RD BLDG 4711","address_2":"","city":"BARKSDALE AFB","state":"LA","zip":"71110","country":"USA"},{"id":3026445,"name":"1010348","location_number":"","address_1":"455
        CURTISS RD BLDG 4711","address_2":"","city":"BARKSDALE AFB","state":"LA","zip":"71110","country":"USA"},{"id":2935353,"name":"1010348","location_number":null,"address_1":"455
        CURTISS RD BLDG 4711","address_2":null,"city":"BARKS[...]
