---
http_interactions:
- request:
    method: post
    uri: https://www.workmarket.com/api/v1/authorization/request
    body:
      encoding: UTF-8
      string: token=0Ft3BIzVFhfFOP1dFXmq&secret=n5P0ZNrjpIyuUw7KIBdNW7ENT0TmdAQevTQbk7Ow
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.066,"timestamp":1429479911},"response":{"access_token":"ZVtjrQ26UYiqCzuOi7BC"}}'
  recorded_at: Sun, 19 Apr 2015 21:45:13 GMT
- request:
    method: get
    uri: https://www.workmarket.com/api/v1/crm/locations/list?access_token=ZVtjrQ26UYiqCzuOi7BC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[{"message":"You must supply a client ID.","code":"1"}],"status_code":200,"version":1,"execution_time":0.024,"timestamp":1429479911},"response":[]}'
  recorded_at: Sun, 19 Apr 2015 21:45:13 GMT
- request:
    method: get
    uri: https://www.workmarket.com/api/v1/crm/clients/list?access_token=ZVtjrQ26UYiqCzuOi7BC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.096,"timestamp":1429480082},"response":[{"id":26665,"name":"AAFES","customer_id":"101"},{"id":26661,"name":"Bed
        Bath and Beyond","customer_id":"100"}]}'
  recorded_at: Sun, 19 Apr 2015 21:48:03 GMT
[...]
- request:
    method: get
    uri: https://www.workmarket.com/api/v1/crm/locations/list?access_token=rL4rT1LmyT8aaijl3hMv&client_id=26665
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.339,"timestamp":1429480082},"response":[{"id":2935317,"name":"1010209","location_number":null},{"id":3026441,"name":"1010348","location_number":""},{"id":3026445,"name":"1010348","location_number":""},{"id":2935353,"name":"1010348","location_number":null},{"id":2935349,"name":"1010419","location_number":null},{"id":2935237,"name":"1010801","location_number":null},{"id":2935245,"name":"1010911","location_number":null},{"id":2935241,"name":"1011001","location_number":null},{"id":2935233,"name":"1011301","location_number":null},{"id":2935309,"name":"1011501","location_number":null},{"i[...]
- request:
    method: get
    uri: https://www.workmarket.com/api/v1/crm/locations/list?access_token=ZVtjrQ26UYiqCzuOi7BC&client_id=26665
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.201,[...]
