---
http_interactions:
- request:
    method: post
    uri: https://www.workmarket.com/api/v1/authorization/request
    body:
      encoding: UTF-8
      string: token=0Ft3BIzVFhfFOP1dFXmq&secret=n5P0ZNrjpIyuUw7KIBdNW7ENT0TmdAQevTQbk7Ow
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.04,"timestamp":1441026286},"response":{"access_token":"t5z1YMhwqZxEckKijNfa"}}'
  recorded_at: Mon, 31 Aug 2015 13:04:46 GMT
- request:
    method: get
    uri: https://www.workmarket.com/api/v1/crm/clients/list?access_token=t5z1YMhwqZxEckKijNfa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.068,"timestamp":1441026286},"response":[{"id":26665,"name":"AAFES","customer_id":"101"},{"id":26661,"name":"Bed
        Bath and Beyond","customer_id":"100"},{"id":30517,"name":"COX Communications","customer_id":""},{"id":28965,"name":"DripDrop","customer_id":""},{"id":30513,"name":"Moshi","customer_id":""},{"id":29605,"name":"Sales
        makers","customer_id":""},{"id":31385,"name":"Training Vids","customer_id":""}]}'
  recorded_at: Mon, 31 Aug 2015 13:04:46 GMT
recorded_with: VCR 2.9.3
