---
http_interactions:
- request:
    method: post
    uri: https://www.workmarket.com/api/v1/authorization/request
    body:
      encoding: UTF-8
      string: token=0Ft3BIzVFhfFOP1dFXmq&secret=n5P0ZNrjpIyuUw7KIBdNW7ENT0TmdAQevTQbk7Ow
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.041,"timestamp":1441026282},"response":{"access_token":"EXGgQ6ePxOtdd8NjaKy2"}}'
  recorded_at: Mon, 31 Aug 2015 13:04:43 GMT
- request:
    method: get
    uri: https://www.workmarket.com/api/v1/assignments/get?access_token=EXGgQ6ePxOtdd8NjaKy2&id=7570091574
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.523,"timestamp":1441026283},"response":{"id":"7570091574","title":"Sales
        Makers - Retail Assisted Sales - Representing DripDrop","description":"&lt;div&gt;&lt;b&gt;&lt;u&gt;Training
        Required:&lt;/u&gt;&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Training should take about
        30 minutes (Rep will be paid for the hour)&lt;/div&gt;&lt;div&gt;&lt;br /&gt;&lt;/div&gt;&lt;div&gt;&lt;br
        /&gt;&lt;/div&gt;&lt;div&gt;&lt;div&gt;&lt;b&gt;Assisted Sales - Representing
        Drip Drop&lt;/b&gt;&lt;/div&gt;&lt;ul&gt;&lt;li&gt;Conduct Assisted Sales
        events for six (6) hours of actual consumer interaction and Assisted Selling
        to accommodate entry to the military base, set up and [...]
