---
http_interactions:
- request:
    method: post
    uri: https://www.workmarket.com/api/v1/authorization/request
    body:
      encoding: UTF-8
      string: token=0Ft3BIzVFhfFOP1dFXmq&secret=n5P0ZNrjpIyuUw7KIBdNW7ENT0TmdAQevTQbk7Ow
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.04,"timestamp":1441026229},"response":{"access_token":"k2oc89GNI4m2pOYjkMoU"}}'
  recorded_at: Mon, 31 Aug 2015 13:03:49 GMT
- request:
    method: get
    uri: https://www.workmarket.com/api/v1/assignments/list?access_token=k2oc89GNI4m2pOYjkMoU&start=0&status=complete
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.037,"timestamp":1441026229},"response":{"total_results":0,"count":0,"start":0,"limit":25,"data":[]}}'
  recorded_at: Mon, 31 Aug 2015 13:03:50 GMT
- request:
    method: get
    uri: https://www.workmarket.com/api/v1/assignments/list?access_token=k2oc89GNI4m2pOYjkMoU&start=0&status=paymentPending
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.189,"timestamp":1441026230},"response":{"total_results":518,"count":25,"start":0,"limit":25,"data":[{"id":"1439266875","project_id":1344829,"title":"Moshi
        Video Training Report","scheduled_start":1437393600,"scheduled_end":1437771600,"city":"Providence","state":"RI","postal_code":"02852","location_id":null,"spend_limit":"6.0","modified_status":"Payment
        Pending","status":"paymentPending","substatuses":[],"labels":[],"internal_owner":"Elisabeth
        Hillyer","client":"Moshi","client_id":30513,"paid_date":null,"total_cost":"6.0","resource_company_name":"Sole
        Proprietor","resource_user_number":"84727051","resource_full_name":"Michael
        Karpowich","last_modified_on":1440702367,"modifier_first_name":"T","modifier_last_name":"Hillman"},{"id":"3497140814","project_id":1344605,"title":"Moshi
        Video Training Report","scheduled_start":1437397200,"scheduled_end":1437775200,"city":"Bemidji","state":"MN","postal_code":"56601","location_id":null,"spend_limit":"6.0","modified_status":"Payment
        Pending","status":"paymentPending","substatuses":[],"labels":[],"internal_owner":"Elisabeth
        Hillyer","client":"Moshi","client_id":30513,"paid_date":null,"total_cost":"6.0","resource_company_name":"Sole
        Pro[...]
[...]
- request:
    method: get
    uri: https://www.workmarket.com/api/v1/assignments/list?access_token=k2oc89GNI4m2pOYjkMoU&start=0&status=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":6.85[...]
[...]
