---
http_interactions:
- request:
    method: post
    uri: https://www.workmarket.com/api/v1/authorization/request
    body:
      encoding: UTF-8
      string: token=0Ft3BIzVFhfFOP1dFXmq&secret=n5P0ZNrjpIyuUw7KIBdNW7ENT0TmdAQevTQbk7Ow
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.068,"timestamp":1429479910},"response":{"access_token":"aup60AMW1QSYtReJVBTU"}}'
  recorded_at: Sun, 19 Apr 2015 21:45:12 GMT
- request:
    method: get
    uri: https://www.workmarket.com/api/v1/crm/clients/list?access_token=aup60AMW1QSYtReJVBTU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.137,"timestamp":1429479910},"response":[{"id":26665,"name":"AAFES","customer_id":"101"},{"id":26661,"name":"Bed
        Bath and Beyond","customer_id":"100"}]}'
  recorded_at: Sun, 19 Apr 2015 21:45:12 GMT
recorded_with: VCR 2.9.3
