---
http_interactions:
- request:
    method: post
    uri: https://www.workmarket.com/api/v1/authorization/request
    body:
      encoding: UTF-8
      string: token=0Ft3BIzVFhfFOP1dFXmq&secret=n5P0ZNrjpIyuUw7KIBdNW7ENT0TmdAQevTQbk7Ow
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.015,"timestamp":1438606117},"response":{"access_token":"5xF5sJwB383ZwoTlRKGo"}}'
  recorded_at: Mon, 03 Aug 2015 12:48:37 GMT
- request:
    method: get
    uri: https://www.workmarket.com/api/v1/crm/clients/list?access_token=5xF5sJwB383ZwoTlRKGo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"meta":{"errors":[],"status_code":200,"version":1,"execution_time":0.115,"timestamp":1438606117},"response":[{"id":26665,"name":"AAFES","customer_id":"101"},{"id":26661,"name":"Bed
        Bath and Beyond","customer_id":"100"},{"id":30517,"name":"COX Communications","customer_id":""},{"id":28965,"name":"DripDrop","customer_id":""},{"id":30513,"name":"Moshi","customer_id":""},{"id":29605,"name":"Sales
        makers","customer_id":""},{"id":31385,"name":"Training Vids","customer_id":""}]}'
  recorded_at: Mon, 03 Aug 2015 12:48:38 GMT
recorded_with: VCR 2.9.3
