---
http_interactions:
- request:
    method: post
    uri: https://api.groupme.com/v3/groups/12117299/update?token=1956b1d08a050132df253a66af516754
    body:
      encoding: UTF-8
      string: '{"name":"NEW NAME"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"response":{"id":"12117299","group_id":"12117299","name":"NEW
        NAME","phone_number":null,"type":"private","description":"SalesMakers, Inc.","image_url":"https://i.groupme.com/1127x1127.png.51d265a13ce44925aaa15a4e6a2b7b0e","creator_user_id":"12486363","created_at":1422643358,"updated_at":1422644533,"office_mode":false,"share_url":null,"members":[{"id":"73032210","user_id":"12486363","nickname":"SalesMakers
        Operations","muted":false,"image_url":"http://i.groupme.com/1127x1127.png.16c0388e077740d287395b74f2b94c97","autokicked":false}],"max_memberships":50,"messages":{"count":0,"last_message_id":null,"last_message_created_at":null,"preview":{"nickname":null,"text":null,"image_url":null,"attachments":[]}}}}'
  recorded_at: Fri, 30 Jan 2015 19:02:10 GMT
recorded_with: VCR 2.9.3
