---
http_interactions:
- request:
    method: post
    uri: https://api.groupme.com/v3/groups/8936279/messages?token=7a853610f0ca01310e5a065d7b71239d
    body:
      encoding: UTF-8
      string: '{"message":{"source_guid":"caac495d-b452-4a30-b4a7-d6f202849fd1","text":"GroupMe
        API \"send_message\" test"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"meta":{"code":201},"response":{"message":{"id":"141477053584731998","source_guid":"caac495d-b452-4a30-b4a7-d6f202849fd1","created_at":1414770535,"user_id":"12486363","group_id":"8936279","name":"RBD
        Information Technology","avatar_url":"http://i.groupme.com/140x132.png.fdacc4f2dd3b4f8baa23b54f1fc9eb50","text":"GroupMe
        API \"send_message\" test","system":false,"attachments":[],"favorited_by":[],"sender_type":"user","sender_id":"12486363"}}}'
  recorded_at: Fri, 31 Oct 2014 15:48:55 GMT
- request:
    method: post
    uri: https://api.groupme.com/v3/groups/8936279/messages?token=1956b1d08a050132df253a66af516754
    body:
      encoding: UTF-8
      string: '{"message":{"source_guid":"5d7a053a-9a4a-44a1-bc11-1edf1d1d9c54","text":"GroupMe
        API \"send_message\" test"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"meta":{"code":201},"response":{"message":{"id":"142264273467058490","source_guid":"5d7a053a-9a4a-44a1-bc11-1edf1d1d9c54","created_at":1422642734,"user_id":"12486363","group_id":"8936279","name":"RBD
        Information Technology","avatar_url":"http://i.groupme.com/1127x1127.png.16c0388e077740d287395b74f2b94c97","text":"GroupMe
        API \"send_message\" test","system":false,"attachments":[],"favorited_by":[],"sender_type":"user","sender_id":"12486363"}}}'
  recorded_at: Fri, 30 Jan 2015 18:32:12 GMT
recorded_with: VCR 2.9.3
