---
http_interactions:
- request:
    method: post
    uri: https://api.groupme.com/v3/groups/8936279/messages?token=1956b1d08a050132df253a66af516754
    body:
      encoding: UTF-8
      string: '{"message":{"source_guid":"bc21b35d-df45-432e-be89-ea91d539b64d","text":"GroupMe
        API \"send_message\" test"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"meta":{"code":201},"response":{"message":{"id":"142531920369337010","source_guid":"bc21b35d-df45-432e-be89-ea91d539b64d","created_at":1425319203,"user_id":"12486363","group_id":"8936279","name":"RBD
        Information Technology","avatar_url":"http://i.groupme.com/1127x1127.png.16c0388e077740d287395b74f2b94c97","text":"GroupMe
        API \"send_message\" test","system":false,"attachments":[],"favorited_by":[],"sender_type":"user","sender_id":"12486363"}}}'
  recorded_at: Mon, 02 Mar 2015 18:00:03 GMT
recorded_with: VCR 2.9.3
