---
http_interactions:
- request:
    method: get
    uri: https://api.groupme.com/v3/users/me?token=7a853610f0ca01310e5a065d7b71239d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"response":{"id":"12486363","user_id":"12486363","name":"RBD
        Information Technology","email":"it@retaildoneright.com","phone_number":"+1
        7274872633","zip_code":null,"created_at":1374873482,"updated_at":1374873482,"image_url":"http://i.groupme.com/140x132.png.fdacc4f2dd3b4f8baa23b54f1fc9eb50","locale":"en_US","sms":false,"facebook_connected":false,"twitter_connected":false}}'
  recorded_at: Fri, 31 Oct 2014 15:32:05 GMT
- request:
    method: get
    uri: https://api.groupme.com/v3/users/me?token=1956b1d08a050132df253a66af516754
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gm-Service:
      - user
    body:
      encoding: UTF-8
      string: |
        {"response":{"id":"12486363","user_id":"12486363","name":"SalesMakers Operations","email":"it@retaildoneright.com","phone_number":"+1 7274872633","zip_code":null,"created_at":1374873482,"updated_at":1422543551,"image_url":"http://i.groupme.com/1127x1127.png.16c0388e077740d287395b74f2b94c97","locale":"en_US","sms":false,"facebook_connected":false,"twitter_connected":false},"meta":{"code":200}}
  recorded_at: Fri, 30 Jan 2015 18:32:12 GMT
recorded_with: VCR 2.9.3
