---
http_interactions:
- request:
    method: get
    uri: https://api.groupme.com/v3/groups/8936279?token=1956b1d08a050132df253a66af516754
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gm-Service:
      - conversations
    body:
      encoding: UTF-8
      string: |
        {"response":{"id":"8936279","group_id":"8936279","name":"RBD Test Playground!","phone_number":"+1 6153788526","type":"private","description":"","image_url":null,"creator_user_id":"12486363","created_at":1404310912,"updated_at":1423256130,"office_mode":false,"share_url":null,"members":[{"user_id":"12486363","nickname":"RBD Information Technology","image_url":"http://i.groupme.com/1127x1127.png.16c0388e077740d287395b74f2b94c97","id":"49737536","muted":false,"autokicked":false},{"user_id":"13909278","nickname":"Anthony Atkinson","image_url":"http://i.groupme.com/1000x1000.png.4f4096fba0674937aa6d0b8c83c5cad1","id":"49740412","muted":true,"autokicked":false},{"user_id":"12486289","nickname":"Stephen Miles","image_url":"http://i.groupme.com/3315eb50d9020130bffb1634aa036823","id":"55984244","muted":true,"autokicked":false},{"user_id":"11641940","nickname":"Scott Riker","image_url":"http://i.groupme.com/908x1065.jpeg.1f32cbf6a32b4f03b6264b588d531bdf","id":"69831877","muted":true,"autokicked":false}],"messages":{"count":3486,"last_message_id":"142325613015736337","last_message_created_at":1423256130,"preview":{"nickname":"RBD Information Technology","text":"GroupMe API \"send_message\" test","image_url":"http://i.groupme.com/1127x1127.png.16c0388e077740d287395b74f2b94c97","attachments":[]}},"max_members":50},"meta":{"code":200}}
  recorded_at: Fri, 06 Feb 2015 21:01:32 GMT
recorded_with: VCR 2.9.3
