---
http_interactions:
- request:
    method: get
    uri: https://api.groupme.com/v3/groups/8936279?token=1956b1d08a050132df253a66af516754
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gm-Service:
      - conversations
    body:
      encoding: UTF-8
      string: |
        {"response":{"id":"8936279","group_id":"8936279","name":"RBD Test Playground!","phone_number":"+1 6153788526","type":"private","description":"","image_url":null,"creator_user_id":"12486363","created_at":1404310912,"updated_at":1424028266,"office_mode":false,"share_url":null,"members":[{"user_id":"12486363","nickname":"RBD Information Technology","image_url":"http://i.groupme.com/1127x1127.png.16c0388e077740d287395b74f2b94c97","id":"49737536","muted":false,"autokicked":false},{"user_id":"13909278","nickname":"Anthony Atkinson","image_url":"http://i.groupme.com/1000x1000.png.4f4096fba0674937aa6d0b8c83c5cad1","id":"49740412","muted":true,"autokicked":false},{"user_id":"12486289","nickname":"Stephen Miles","image_url":"http://i.groupme.com/320x240.gif.44f812dede5445c59326d30d814b97f0","id":"55984244","muted":true,"autokicked":false},{"user_id":"11641940","nickname":"Scott Riker","image_url":"http://i.groupme.com/908x1065.jpeg.1f32cbf6a32b4f03b6264b588d531bdf","id":"69831877","muted":true,"autokicked":false}],"messages":{"count":3516,"last_message_id":"142402826648698899","last_message_created_at":1424028266,"preview":{"nickname":"SalesCenter","text":"Nashville Territory: 1\n\n***TOTAL: 1","image_url":"https://i.groupme.com/1127x1127.png.51d265a13ce44925aaa15a4e6a2b7b0e","attachments":[]}},"max_members":50},"meta":{"code":200}}
  recorded_at: Mon, 16 Feb 2015 15:19:26 GMT
recorded_with: VCR 2.9.3
