---
http_interactions:
- request:
    method: get
    uri: https://api.groupme.com/v3/users/me?token=1956b1d08a050132df253a66af516754
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gm-Service:
      - user
    body:
      encoding: UTF-8
      string: |
        {"response":{"id":"12486363","user_id":"12486363","name":"SalesMakers IT","email":"it@retaildoneright.com","phone_number":"+1 7274872633","zip_code":null,"created_at":1374873482,"updated_at":1422645646,"image_url":"http://i.groupme.com/1127x1127.png.16c0388e077740d287395b74f2b94c97","locale":"en_US","sms":false,"facebook_connected":false,"twitter_connected":false},"meta":{"code":200}}
  recorded_at: Mon, 27 Apr 2015 14:07:32 GMT
recorded_with: VCR 2.9.3
