---
http_interactions:
- request:
    method: post
    uri: https://api.groupme.com/v3/groups/12117299/update?token=1956b1d08a050132df253a66af516754
    body:
      encoding: UTF-8
      string: '{"name":"NEW NAME"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"meta":{"code":404,"errors":["The requested path does not exist"]},"response":null}'
  recorded_at: Fri, 06 Feb 2015 21:01:33 GMT
recorded_with: VCR 2.9.3
