---
http_interactions:
- request:
    method: post
    uri: https://api.groupme.com/v3/groups?token=1956b1d08a050132df253a66af516754
    body:
      encoding: UTF-8
      string: '{"name":"TEST","description":"SalesMakers, Inc.","image_url":"https://i.groupme.com/1127x1127.png.51d265a13ce44925aaa15a4e6a2b7b0e"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7dc75414bbd691c80b266d32acd9cd93"'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"meta":{"code":201},"response":{"id":"12548729","group_id":"12548729","name":"TEST","phone_number":"+1
        8503471088","type":"private","description":"SalesMakers, Inc.","image_url":"https://i.groupme.com/1127x1127.png.51d265a13ce44925aaa15a4e6a2b7b0e","creator_user_id":"12486363","created_at":1424727589,"updated_at":1424727589,"office_mode":false,"share_url":null,"members":[{"id":"76391528","user_id":"12486363","nickname":"SalesMakers
        IT","muted":false,"image_url":"http://i.groupme.com/1127x1127.png.16c0388e077740d287395b74f2b94c97","autokicked":false}],"max_memberships":50,"messages":{"count":0,"last_message_id":null,"last_message_created_at":null,"preview":{"nickname":null,"text":null,"image_url":null,"attachments":[]}}}}'
  recorded_at: Mon, 23 Feb 2015 21:39:48 GMT
recorded_with: VCR 2.9.3
