---
http_interactions:
- request:
    method: post
    uri: https://www.docusign.net/restapi/v2/accounts/6307293/envelopes
    body:
      encoding: UTF-8
      string: '{"status":"created","emailBlurb":null,"emailSubject":"Sprint Postpaid
        - NOTICE OF SEPARATION FOR: Test User","templateId":"E0D92C92-D229-4C25-9CAF-E258FA990AF5","eventNotification":{},"templateRoles":[{"name":"Manager","email":"tuser798@rbd-von.com","roleName":"Manager","tabs":{"textTabs":[{"tabLabel":"Employee
        Name","name":"Employee Name","value":"Test User","documentId":null,"selected":null},{"tabLabel":"Remarks","name":"Remarks","value":"","documentId":null,"selected":null}],"checkboxTabs":[]}}]}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"it@retaildoneright.com","Password":"reta!lPr0s","IntegratorKey":"RETA-116c6b7d-09cf-4c4e-876c-65cbf19aaacc"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1438606800'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '989'
    body:
      encoding: UTF-8
      string: "{\r\n  \"envelopeId\": \"a42abd11-930b-44af-8bee-abd033cfaf07\",\r\n
        \ \"uri\": \"/envelopes/a42abd11-930b-44af-8bee-abd033cfaf07\",\r\n  \"statusDateTime\":
        \"2015-08-03T12:41:48.2930000Z\",\r\n  \"status\": \"created\"\r\n}"
  recorded_at: Mon, 03 Aug 2015 12:41:49 GMT
- request:
    method: put
    uri: https://www.docusign.net/restapi/v2/accounts/6307293/envelopes/a42abd11-930b-44af-8bee-abd033cfaf07
    body:
      encoding: UTF-8
      string: '{"status":"sent"}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"it@retaildoneright.com","Password":"reta!lPr0s","IntegratorKey":"RETA-116c6b7d-09cf-4c4e-876c-65cbf19aaacc"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 03 Aug 2015 12:41:51 GMT
recorded_with: VCR 2.9.3
