- candidate = log_entry.trackable
- recruiter = log_entry.person
= person_link recruiter
dismissed
= candidate_link candidate
as a potential candidate
%strong
  Reason:
= candidate.candidate_denial_reason.name if candidate.candidate_denial_reason