- candidate = log_entry.trackable
- recruiter = log_entry.person
= person_link recruiter
marked
= candidate_link candidate
as having a personality assessment score that does not qualify for employment.