- candidate = log_entry.trackable
.entry_type
  Indicated that
  .entry_pertains_to
    = candidate_link candidate
has not scheduled their drug test
= person_link log_entry.person
.time_ago
  = time_ago_in_words(log_entry.created_at) + ' ago'
Comments:
%span.comment
  = log_entry.referenceable.name if log_entry.referenceable