- candidate = log_entry.trackable
- recruiter = log_entry.person
= recruiter.name
indicated that
= candidate.first_name + ' ' + candidate.last_name
has not scheduled their drug test
%strong Comment:
%span.comment
  = log_entry.referenceable.name if log_entry.referenceable