- candidate = log_entry.trackable
.entry_type
  Rejected Extending Job Offer
  .entry_pertains_to
    to
    = candidate_link candidate
by
= person_link log_entry.person
.time_ago
  = time_ago_in_words(log_entry.created_at) + ' ago'
Reason:
%span.comment
  = log_entry.referenceable.name if log_entry.referencable.name