- candidate = log_entry.trackable
.entry_type
  Reactivated
  .entry_pertains_to= candidate_link candidate
  as a potential candidate
by
= person_link log_entry.person
.time_ago
  = time_ago_in_words(log_entry.created_at) + ' ago'