---
http_interactions:
- request:
    method: post
    uri: https://www.docusign.net/restapi/v2/accounts/6307293/envelopes
    body:
      encoding: UTF-8
      string: '{"status":"created","emailBlurb":null,"emailSubject":"Mobile Device
        Agreement Form for HQ Employee: Test User","templateId":"61B80AC4-0915-45A2-8C4E-DD809C58F953","eventNotification":{},"templateRoles":[{"name":"Test
        User","email":"aatkinson@salesmakersinc.com","roleName":null,"tabs":{"textTabs":[],"checkboxTabs":[]}}]}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"it@retaildoneright.com","Password":"reta!lPr0s","IntegratorKey":"RETA-116c6b7d-09cf-4c4e-876c-65cbf19aaacc"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"errorCode\": \"INVALID_REQUEST_PARAMETER\",\r\n  \"message\":
        \"The request contained at least one invalid parameter. RoleName must be specified
        for templateRoles.\"\r\n}"
  recorded_at: Mon, 03 Aug 2015 12:42:34 GMT
recorded_with: VCR 2.9.3
