---
http_interactions:
- request:
    method: post
    uri: https://www.docusign.net/restapi/v2/accounts/6307293/envelopes
    body:
      encoding: UTF-8
      string: '{"status":"created","emailBlurb":null,"emailSubject":"Mobile Device
        Agreement Form for HQ Employee: Test User","templateId":"61B80AC4-0915-45A2-8C4E-DD809C58F953","eventNotification":{},"templateRoles":[{"name":"Test
        User","email":"aatkinson@salesmakersinc.com","roleName":"Employee","tabs":{"textTabs":[],"checkboxTabs":[]}}]}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"it@retaildoneright.com","Password":"reta!lPr0s","IntegratorKey":"RETA-116c6b7d-09cf-4c4e-876c-65cbf19aaacc"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1435341600'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: "{\r\n  \"envelopeId\": \"2b5180ec-e3ac-4eac-83b7-691d7b69b322\",\r\n
        \ \"uri\": \"/envelopes/2b5180ec-e3ac-4eac-83b7-691d7b69b322\",\r\n  \"statusDateTime\":
        \"2015-06-26T17:18:59.7330000Z\",\r\n  \"status\": \"created\"\r\n}"
  recorded_at: Fri, 26 Jun 2015 17:19:00 GMT
- request:
    method: put
    uri: https://www.docusign.net/restapi/v2/accounts/6307293/envelopes/2b5180ec-e3ac-4eac-83b7-691d7b69b322
    body:
      encoding: UTF-8
      string: '{"status":"sent"}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"it@retaildoneright.com","Password":"reta!lPr0s","IntegratorKey":"RETA-116c6b7d-09cf-4c4e-876c-65cbf19aaacc"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 26 Jun 2015 17:19:01 GMT
recorded_with: VCR 2.9.3
