---
http_interactions:
- request:
    method: post
    uri: https://www.docusign.net/restapi/v2/accounts/6307293/envelopes
    body:
      encoding: UTF-8
      string: '{"status":"created","emailBlurb":"\n              Enclosed are the
        documents that you must complete as the first stage of your potential employment
        with SalesMakers, Inc.  This is an electronic process.  Please complete as
        soon as possible.\n\n              Tips for completing the New Hire Paperwork:\n              ·         When
        completing the NHP you will need to create and electronic signature\n              ·         You
        have 30 minutes to complete the NHP before it times out. If needed you can
        save your progress by selecting \"finish later\".\n              ·         As
        you complete the NHP please use your legal name as stated on your work authorization
        document.\n              ·         Click the \"Next\"\" box on the left hand
        side in order to take you through the required fields, If anything is not
        applicable to you please type in \"N/A\".\n\n              Please contact
        your recruiter should you have any questions or problems.\n\n              Your
        location is set to 555 34th St N, St. Petersburg, FL (store number CCWM4690).\n              Your
        area is set to A Test Area.\n\n            ","emailSubject":"Test Project
        Employment Application and New Hire Paperwork for: Test Candidate","templateId":"603E81AB-4DC0-4FBC-9028-46D1FCABDD21","eventNotification":{},"templateRoles":[{"name":"Test
        Candidate","email":"developers@salesmakersinc.com","roleName":"New Employee","tabs":{"textTabs":[],"checkboxTabs":[],"numberTabs":[],"fullNameTabs":[],"dateTabs":[]}}],"customFields":null}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"it@retaildoneright.com","Password":"reta!lPr0s","IntegratorKey":"RETA-116c6b7d-09cf-4c4e-876c-65cbf19aaacc"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1441029600'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '988'
    body:
      encoding: UTF-8
      string: "{\r\n  \"envelopeId\": \"6d017624-ae70-4f98-98cd-0c757ac993ac\",\r\n
        \ \"uri\": \"/envelopes/6d017624-ae70-4f98-98cd-0c757ac993ac\",\r\n  \"statusDateTime\":
        \"2015-08-31T13:04:25.4100000Z\",\r\n  \"status\": \"created\"\r\n}"
  recorded_at: Mon, 31 Aug 2015 13:04:27 GMT
- request:
    method: put
    uri: https://www.docusign.net/restapi/v2/accounts/6307293/envelopes/6d017624-ae70-4f98-98cd-0c757ac993ac
    body:
      encoding: UTF-8
      string: '{"status":"sent"}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"it@retaildoneright.com","Password":"reta!lPr0s","IntegratorKey":"RETA-116c6b7d-09cf-4c4e-876c-65cbf19aaacc"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 31 Aug 2015 13:04:29 GMT
recorded_with: VCR 2.9.3
