---
http_interactions:
- request:
    method: post
    uri: https://www.docusign.net/restapi/v2/accounts/6307293/envelopes
    body:
      encoding: UTF-8
      string: '{"status":"created","emailBlurb":null,"emailSubject":"Sprint Postpaid
        - NOTICE OF SEPARATION FOR: Test User","templateId":"E0D92C92-D229-4C25-9CAF-E258FA990AF5","eventNotification":{},"templateRoles":[{"name":"Manager","email":"tuser30@rbd-von.com","roleName":"Manager","tabs":{"textTabs":[],"checkboxTabs":[]}}]}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"it@retaildoneright.com","Password":"reta!lPr0s","IntegratorKey":"RETA-116c6b7d-09cf-4c4e-876c-65cbf19aaacc"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1431457200'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '879'
    body:
      encoding: UTF-8
      string: "{\r\n  \"envelopeId\": \"f3ee60ff-b36c-4e40-a2c3-3346666d0f9b\",\r\n
        \ \"uri\": \"/envelopes/f3ee60ff-b36c-4e40-a2c3-3346666d0f9b\",\r\n  \"statusDateTime\":
        \"2015-05-12T18:58:23.7270000Z\",\r\n  \"status\": \"created\"\r\n}"
  recorded_at: Tue, 12 May 2015 18:58:24 GMT
- request:
    method: put
    uri: https://www.docusign.net/restapi/v2/accounts/6307293/envelopes/f3ee60ff-b36c-4e40-a2c3-3346666d0f9b
    body:
      encoding: UTF-8
      string: '{"status":"sent"}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"it@retaildoneright.com","Password":"reta!lPr0s","IntegratorKey":"RETA-116c6b7d-09cf-4c4e-876c-65cbf19aaacc"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 12 May 2015 18:58:25 GMT
recorded_with: VCR 2.9.3
