
@media (min-width: $high_res_cutoff){

	form.search_form {
		float: right;
		margin-top: 1em;

		input[type = text], select, textarea {
			width: 10em;
			display: inline-block;
		}
	}

	.slider {
		margin: auto 0;
	}

	section#content {
		clear: both;
	}

	.container {
		&>header {
			.top-pagination {
				clear:both;
			}
			h1 {
				float:left;
			}

			.tags {
				margin-top: $spacing;
			}
		}
	}

	#groupme_widget {
		&> .inner {
			min-height: $widget_initial_height;
		}
	}

	article {
		img {
			max-width: 30%;
		}
	}

	.widgets .widget {
		width: 32%;
		margin: .5%;
	}

	.right-off-canvas-menu {
		width: 45%;
		box-shadow: -2px 0 8px 3px #ccc;
		position: fixed;
		top: 101px;
		bottom: 0;
	}
}

