@import 'variables';

@media (min-width: $high_res_cutoff){

    body {
      padding-bottom: $nav_height !important
    }

	form#search_form {
		margin-top: 1em;
		position: absolute;
		right: 1em;
		background-color: white;
		border: 2px solid #999;
		padding-top: 1em;
		padding-bottom: 0;
		padding-right: 1em;
		padding-left: 1em;
		box-shadow: $shadow;
		display: none;
		text-align: right;
		z-index: 99;

		input[type = text], select, textarea {
			width: 10em;
			display: inline-block;
		}
	}

	#show_search {
		float: right;
		font-size: 2em;
		margin-top: 0.5em;
		margin-right: 0.5em;
	}

	#hide_search {
		font-size: 1.5em;
		color: #999;
		vertical-align: middle;
	}

	.slider {
		margin: auto 0;
	}

	section#content {
		clear: both;
	}

	.container {
		&>header {
          padding-top: $nav-height;
			.top-pagination {
				clear:both;
			}
			h1 {
				float:left;
			}

			.tags {
				margin-top: $spacing;
			}
		}
	}

	#groupme_widget {
		&> .inner {
			min-height: $widget_initial_height;
		}
	}

	article {
		img {
			max-width: 30%;
		}
	}

	.widgets .widget,
	.top_widgets .widget {
		width: 32%;
		margin: .5%;
		&.grid-4 {
			width: 32%;
			margin: .5%;
		}
		&.grid-6 {
			width: 48.5%;
			margin: .5% .5%;
		}
		&.grid-12 {
			width: 98%;
			margin: .5% 1%;
		}
	}

	.right-off-canvas-menu {
		width: 45%;
		box-shadow: -2px 0 8px 3px #ccc;
		position: fixed;
		top: 101px;
		bottom: 0;
	}

	.staging_warning {
		margin-bottom: -6rem;
	}
}

