@import 'variables';

@media only screen and (max-width: $tablet_cutoff) {
	html table,
	html .table,
	thead,
	html .tableheader,
	html table tbody,
	html .table .tablebody,
	html table thead th,
	html table tr td,
	html .table .tablerow .tablecell,
	html table thead tr,
	html .table .tableheader .tablerow,
	html table tbody tr {
		display: block;

	}

	html .table .tableheader .tablerow th, html .table .tablebody .tablerow th, html .table .tablebody .tablerow .tablecell, html .table .tablerow .tablecell {
		display: block;
	}
	thead tr, .tableheader .tablerow {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr, .tablerow {
		border: 1px solid #ccc;
	}

	td, .tablecell {
		border: none;
		position: relative;
		padding-left: 50%;
	}

	td:before, .tablecell:before {
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		font-weight: bold;
	}

	.widgets .widget,
	.top_widgets .widget {
		width: 96%;
		margin: 1% 1%;
	}

	.top_widgets .widget {
		float: left;
		&.grid-4 {
			width: 96%;
			margin: 0 1%;
		}
	}
}
