$spacing: 1em;
$sub-mobile_cutoff: 320px;
$mobile_cutoff: 598px; //640px;
$tablet_cutoff: 800px; //800px;
$high_res_cutoff: 1280px;
$hd_cutoff: 1920px;
$nav_height: 101px;
$line_height: 1.15;
$high_res_font_size: 1.2em;
$high_res_spaced_lines: 1.1em;
$widget_initial_height: 300px;

$sm_yellow: #ffb81c;
$sm_orange: #ff6900;
$sm_yellow_green: #c4d600;
$sm_green: #84bd00;
$sm_teal: #00c1d5;
$sm_blue: #00a9e0;
$sm_dark_blue: #00769d;
$sm_red: #d50032;
$inactive: #999;
$shadow: 2px 2px 2px #ccc;