$spacing: 1em;
$sub-mobile_cutoff: 320px;
$mobile_cutoff: 598px; //640px;
$tablet_cutoff: 768px; //800px;
$high_res_cutoff: 1280px;
$hd_cutoff: 1920px;
$nav_height: 101px;
$line_height: 1.15;
$high_res_font_size: 1.2em;
$high_res_spaced_lines: 1.1em;
$widget_initial_height: 300px;

$rbd_red: #d62121;
$shadow: 2px 2px 2px #ccc;