/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import 'foundation-icons';

$spacing: 1em;
$sub-mobile_cutoff: 320px;
$mobile_cutoff: 640px;
$tablet_cutoff: 800px;
$high_res_cutoff: 1280px;
$hd_cutoff: 1920px;
$nav_height: 45px;
$line_height: 1.05em;
$high_res_font_size: 1.2em;
$high_res_spaced_lines: 1.1em;

#container {
	margin: 0 $spacing;
	//line-height: $line_height;
}

p {
	line-height: $line_height;
}

nav {
	.title-area {
		img {
			height: $nav_height - ($nav_height / 10 / 2);
			margin-top: $nav_height / 10 / 2;
			margin-left: $spacing;
		}
	}
}

.row.full-width {
	width: 100%;
	max-width: 100%;
	clear:both;
}

// TODO: OLD WIDGET STUFF
/* .widget {
	margin: 1%;
	.inner {
		margin: $spacing / 10;
		padding: $spacing;
		background-color: #eee;
	}
} */

.widget .inner {
	background-color: #e9e9e9;
	/* border-radius: 1em;
	-moz-border-radius: 1em; */
	padding: 0.9375rem;
	margin: 0.9375rem 0;
}

table {
	width: 100%;

}

.inactive,
.inactive a {
	color: darkred;
}

th input[ type = submit ] {
	display: none;
}

.small {
	font-size: small;
}

/* TODO: Fix the margins on home screen */
@media (min-width: $mobile_cutoff){
	// TODO: OLD WIDGET STUFF
	/* .gutter-sizer {
		width: 1%;
	}
	.widget {
		margin: 4px 0;
		padding: 0;
		width: 25%;
		&.inner {
			margin: 0;
		}
		&.widget-sizer {
			margin: 0;
			padding: 0;
		}
		&.w2 {
			width: 50%;
		}
		&.w3 {
			width: 75%;
		}
		&.w4 {
			width: 100%;
		}
		&.w5 {
			width: 100%;
		}
	} */
}
// TODO: make pagination centered and floating next to headers on lower resolution
//@media (min-width: $tablet_cutoff) {
//	.top-pagination {
//		float: right;
//	}
//
//	#container {
//		&>h1 {
//			float:left;
//		}
//		section {
//			clear: both;
//		}
//	}
//}


.history {
	clear: both;
	.log_entry {
		margin: 1em auto;
		clear: both;
		.entry_type {
			font-size: 1.7em;
			line-height: 1.2em;
			.time_ago {
				font-size: small;
				font-style: italic;
				display: inline;
			}
		}
		.entry_pertains_to {
			font-size: 0.8em;
			font-style: italic;
			margin-bottom: 1em;
		}
		.content {
			/* font-size: 1.5em; */
			padding-top: 0.5em;
			@media only screen and (min-width: $high_res_cutoff) {
				//font-size: $high_res_font_size;
				//line-height: $high_res_spaced_lines;
			}
		}
		/* @media only screen and (min-width: 1200px) {
			width: 29%;
			float: left;
			clear: none;
			margin: 2%;
			font-size: 0.8em;
		} */
	}
	.how_long {
		width: 7em;
		clear: both;
		font-style: italic;
		text-align: center;
	}
	@media only screen and (min-width: $high_res_cutoff) {
		/* width: 56%;
		margin: auto 2%;
		float: left;
		clear: none; */
	}
}

.call-date-set {
	width: 7em;
	display: inline-block;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 1em;
	-moz-border-radius: 1em;
	margin-right: 1em;
	color: black;
	margin-bottom: 1em;
	vertical-align: middle;
	float: left;
	.call-date {
		width: 100%;
		.call-year {
			width: 100%;
			font-size: 1.5em;
			background-color: #5ae;
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			padding: 0.1em 0;
			border-top-left-radius: 0.66em;
			border-top-right-radius: 0.66em;
			-moz-border-radius-topleft: 0.66em;
			-moz-border-radius-topright: 0.66em;
		}
		.call-month {
			font-size: 1.2em;
			font-weight: bold;
			margin-bottom: 0.2em;
			text-transform: uppercase;
			width: 100%;
		}
		.call-day {
			font-size: 2.5em;
			font-weight: bold;
			width: 100%;
		}
		.call-weekday {
			font-size: 1.2em;
			font-weight: bold;
			margin-top: 0.2em;
			width: 100%;
		}
		.call-time {
			width: 100%;
			font-size: 1.1em;
			background-color: #5ae;
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			padding: 0.1em 0;
			border-bottom-left-radius: 0.66em;
			border-bottom-right-radius: 0.66em;
			-moz-border-radius-bottomleft: 0.66em;
			-moz-border-radius-bottomright: 0.66em;
		}
	}
}

.comment {
	font-style: italic;
}

@media only screen and (max-width: $tablet_cutoff) {
	html table, thead, html table tbody, html table thead th, html table tr td, html table thead tr, html table tbody tr {
		display: block;

	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		border: 1px solid #ccc;
	}

	td {
		border: none;
		/* border-bottom: 1px solid #eee; */
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* position: absolute; */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		font-weight: bold;
	}
}

@media (min-width: $high_res_cutoff){
	// TODO: OLD WIDGET STUFF
	/* .widget {
		width: 19%;
		margin: 0.25em 0;
		padding: 0;
		&.inner {
			margin: 0;
			width: 100%;
		}
		&.widget-sizer {
			margin: 0;
			padding: 0;
		}
		&.w2 {
			width: 39%;
		}
		&.w3 {
			width: 59%;
		}
		&.w4 {
			width: 79%;
		}
		&.w5 {
			width: 99%;
		}
	} */

	form.search_form {
		float: right;
		margin-top: 1em;

		input[type = text], select, textarea {
			width: 10em;
			display: inline-block;
		}
		input[type = submit] {
			display: none;
		}
	}

	section#content {
		clear: both;
	}

	#container {
		&>header {
			.top-pagination {
				clear:both;
			}
			h1 {
				float:left;
			}
		}
	}
}

#saleschart {
	height: 300px;
}