/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
#container {
	margin: 0 1em;
}

.row.full-width {
	width: 100%;
	max-width: 100%;
}

.widget {
	margin: 1%;
	.inner {
		margin: 0.1em;
		padding: 1em;
		background-color: #eee;
	}
}
/* TODO: Fix the margins on home screen */
@media (min-width: 500px){
	.widget {
		margin: 4px 0;
		padding: 0;
		width: 25%;
		&.inner {
			margin: 0;
		}
		&.widget-sizer {
			margin: 0;
			padding: 0;
		}
		&.w2 {
			width: 50%;
		}
		&.w3 {
			width: 75%;
		}
		&.w4 {
			width: 100%;
		}
		&.w5 {
			width: 100%;
		}
	}
}

@media (min-width: 1280px){
	.widget {
		width: 20%;
		&.inner {
			margin: 0;
		}
		&.widget-sizer {
			margin: 0;
			padding: 0;
		}
		&.w2 {
			width: 40%;
		}
		&.w3 {
			width: 60%;
		}
		&.w4 {
			width: 80%;
		}
		&.w5 {
			width: 100%;
		}
	}
}

#saleschart {
	height: 300px;
}