// Place all the styles related to the sms_daily_checks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

select {
	height: auto !important;
}

select[size], select[multiple] {
	backgaround-image: none;
}

.team_select_button {
	margin-top: auto;
	margin-bottom: auto;
}