- title 'New Report'
.row.full-width.categories
  .large-6.columns
    %h3 Available Categories
    .neutral.rounded.full-width.padded.available_categories
      .column Rep Name
      .column Rep Email
      .column Location Name
      .column Store Number
      .column Date
      .column Gift Card Number
      .column Customer Info
      .column MAC ID
  .large-6.columns
    %h3 Chosen Categories
    .neutral.rounded.full-width.padded.chosen_categories