---
http_interactions:
- request:
    method: get
    uri: https://api.groupme.com/v3/groups?per_page=1&token=1956b1d08a050132df253a66af516754
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gm-Service:
      - conversations
    body:
      encoding: UTF-8
      string: |
        {"response":[{"id":"3518936","group_id":"3518936","name":"East Vs West $t. Loui$ Wolve$","phone_number":"+1 3028947157","type":"private","description":"We dont stop until we hit double digits daily!","image_url":"http://i.groupme.com/1920x1080.png.f67963bc706049838ec5ed5bc8b99e5c","creator_user_id":"4767362","created_at":1359745656,"updated_at":1430145652,"office_mode":false,"share_url":null,"members":[{"user_id":"4767362","nickname":"Zahid Mirza","image_url":"http://i.groupme.com/748x750.jpeg.067b780c90fa4e4f8f4199a07ded8dcd","id":"14788899","muted":true,"autokicked":false},{"user_id":"12659209","nickname":"Robert Burton","image_url":"http://i.groupme.com/492x500.jpeg.24f3402d0318430dabb0ed648507334a","id":"24583837","muted":false,"autokicked":false},{"user_id":"15875455","nickname":"Trish Jones","image_url":"https://i.groupme.com/960x960.jpeg.a75e9f4089370131dc1322000a2d16e3","id":"34822452","muted":false,"autokicked":false},{"user_id":"12486363","nickname":"RBD Information Technology","image_url":"http://i.groupme.com/1127x1127.png.16c0388e077740d287395b74[...]
- request:
    method: get
    uri: https://api.groupme.com/v3/groups/3518936/messages?limit=5&token=1956b1d08a050132df253a66af516754
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gm-Service:
      - gm-message
    body:
      encoding: UTF-8
      string: |
        {"response":{"count":36121,"messages":[{"attachments":[],"avatar_url":"https://i.groupme.com/960x960.jpeg.a75e9f4089370131dc1322000a2d16e3","created_at":1430145652,"favorited_by":[],"group_id":"3518936","id":"143014565233025139","name":"Trish Jones","sender_id":"15875455","sender_type":"user","source_guid":"android-ab6cd865-d110-4d35-b775-fba22ab9331d","system":false,"text":"Goodmorning STL Wolves!!!!! ","user_id":"15875455"},{"attachments":[],"avatar_url":"http://i.groupme.com/492x500.jpeg.24f3402d0318430dabb0ed648507334a","created_at":1430110282,"favorited_by":["15875455"],"group_id":"3518936","id":"143011028298728037","name":"Robert Burton","sender_id":"12659209","sender_type":"user","source_guid":"android-1cb9f2c0-45d0-4ef7-a171-235e2e2f3726","system":false,"text":"No body starts before 11:00 am","user_id":"12659209"},{"attachments":[],"avatar_url":"http://i.gr[...]
