---
http_interactions:
- request:
    method: get
    uri: https://api.groupme.com/v3/groups?per_page=1&token=1956b1d08a050132df253a66af516754
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gm-Service:
      - conversations
    body:
      encoding: UTF-8
      string: |
        {"response":[{"id":"8936279","group_id":"8936279","name":"SalesMakers Test Playground!","phone_number":"+1 5102302754","type":"private","description":"","image_url":null,"creator_user_id":"12486363","created_at":1404310912,"updated_at":1438605511,"office_mode":false,"share_url":null,"members":[{"user_id":"12486363","nickname":"RBD Information Technology","image_url":"http://i.groupme.com/1127x1127.png.16c0388e077740d287395b74f2b94c97","id":"49737536","muted":false,"autokicked":false},{"user_id":"13909278","nickname":"Anthony Atkinson","image_url":"http://i.groupme.com/1000x1000.png.4f4096fba0674937aa6d0b8c83c5cad1","id":"49740412","muted":true,"autokicked":false},{"user_id":"12486289","nickname":"Stephen Miles","image_url":"http://i.groupme.com/562x391.jpeg.04353f439a1245a8aa4817bb11be41c0","id":"55984244","muted":true,"autokicked":false},{"user_id":"11641940","nickname":"Scott Riker","image_url":"http://i.groupme.com/908x1065.jpeg.1f32cbf6a32b4f03b6264b588d531bdf","id":"69831877","muted":true,"autokicked":false}],"messages":{"count":4741,"last_message_id":"143860551127165548","last_message_created_at":1438605511,"preview":{"nickname":"RBD Information Technology","text":"GroupMe API \"send_message\" test","image_url":"http://i.groupme.com/1127x1127.png.16c0388e077740d287395b74f2b94c97","attachments":[]}},"max_members":200}],"meta":{"code":200}}
  recorded_at: Mon, 03 Aug 2015 12:38:32 GMT
- request:
    method: get
    uri: https://api.groupme.com/v3/groups/8936279/messages?limit=5&token=1956b1d08a050132df253a66af516754
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gm-Service:
      - gm-message
    body:
      encoding: UTF-8
      string: |
        {"response":{"count":4741,"messages":[{"attachments":[],"avatar_url":"http://i.groupme.com/1127x1127.png.16c0388e077740d287395b74f2b94c97","created_at":1438605511,"favorited_by":[],"group_id":"8936279","id":"143860551127165548","name":"RBD Information Technology","sender_id":"12486363","sender_type":"user","source_guid":"7980da4f-feb4-4b71-b933-f68f23ac50bf","system":false,"text":"GroupMe API \"send_message\" test","user_id":"12486363"},{"attachments":[],"avatar_url":"https://i.groupme.com/1127x1127.png.51d265a13ce44925aaa15a4e6a2b7b0e","created_at":1438543105,"favorited_by":[],"group_id":"8936279","id":"143854310541705548","name":"Anthony Atkinson via SalesCenter 2.0","sender_id":"225468","sender_type":"bot","source_guid":"2becb6a01b790133eadf22000b3c0bd3","system":false,"text":"There were a bunch of punches that did not come through to SalesCenter because [...]
