- header = header_row ['Channel', 'Display name', 'Store #', 'Address', 'Area', 'Priority', 'Target HC', 'Recruitable']
- rows = []
- for location_area in @location_areas do
  - location = location_area.location
  - location_url = client_project_location_path(@client, @project, location)
  - classes = tack_on_inactive_class(location_area, nil)
  - channel_name = location.channel.name
  - display_name = link_to location.display_name, location_url, class: classes
  - display_name = link_to location.store_number, location_url, class: classes
  - address = link_to location.address, location_url, class: classes
  - area = area_link location_area.area
  - priority = priority.to_s
  - target_head_count = location_area.target_head_count.to_s
  - recruitable = location_area.head_count_full? ? 'No' : 'Yes'
  - rows << table_row([channel_name, display_name, address, area, priority, target_head_count, recruitable])
= table header, rows