= form_tag do_reclaim_vonage_devices_path method: :patch do
  - header = header_row ['Mac Id(s)', 'Reclaim Device']
  - rows = Array.new
  - count = 0
  - for device in @devices do
    - transfer_id =  check_box_tag 'vonage_devices[]', device.id, false, { multiple: true, id: "vonage_reclaim#{count}" }
    - mac = device.mac_id
    - rows << table_row([mac, transfer_id])
    - count += 1
  = table(header, rows)
  %br
  = submit_tag 'Reclaim', class: [:button, :inline_button]