- title "Vonage Accept"
= form_tag do_accept_vonage_devices_path, method: :post do
  .widget
    .inner
      - header = header_row ['Mac Id(s)', 'Accept', 'Reject']
      - rows = Array.new
      - count = 0
      - for macs in @vonage_transfer do
        - accepted =  check_box_tag 'accepted', macs.accepted, false
        - rejected =  check_box_tag 'rejected', macs.rejected, false
        - mac = macs.vonage_device.mac_id
        - rows << table_row([mac, accepted, rejected])
        - count += 1
      = table(header, rows)
      = submit_tag "Transfer ", class: [:button]