- title "Vonage Reclaiming"
.widget
  .inner
    = form_tag do_reclaim_vonage_devices_path, method: :post, id: :employee_selection do
      - person_name_options = options_from_collection_for_select(@vonage_employees, :id, :terminated_name )
      = label_tag 'Select Employee'
      = select_tag :to_person, person_name_options, include_blank: true