%table(style="border: 0px; width: 100%; font-family: sans-serif;")
  %tr
    %td
      %a(href="https://salesmakersinc.com" style="border: 0px;")
        %img(src="http://salesmakersinc.com/wp-content/themes/rbd/images/sales-makers-logo.png")
  %tr
    %td
      = yield
      %br/
      %br/
  %tr(style="background-color: #E39000; margin: 0px; padding: 0px;")
    %td(style="margin: 0px;")
      %center
        %a(href="https://salesmakersinc.com" style="border: 0px;")
          %img(src="http://salesmakersinc.com/wp-content/themes/rbd/images/with_tagline_light.png")
        %br/
        %br/
        %p(style="color: white;")
          Company confidential. Not intended for distribution outside of the original recipients.